[2016-01-11 17:32] ot commented on #2
Hi @mpetri, note that this implementation of interpolative coding only assumes *weak* monotonicity, while your suggestions exploit *strict* monotonicity.
When using this for strictly monotonic sequences we actually do `a[i] - i`, which is equivalent to what you suggest: when `low == high`, no bits are output.

[2016-01-13 01:25] mpetri commented on #2
ok cool.

Another question: It seems like you are not using the centered minimal binary code approach. Is this correct?

[2016-01-13 01:27] ot commented on #2
That's correct. I experimented with a prototype but I haven't seen any improvement in compression efficiency, so I didn't implement it.

[2016-01-13 01:38] mpetri commented on #2
It seems that the original paper documents some improvements in compression effectiveness when using centered minimal binary codes (from what I understand).

[2016-01-13 01:39] ot commented on #2
Yes I read the paper but my results didn't match theirs.

[2016-01-13 01:43] mpetri commented on #2
ok thanks again.

[2018-08-23 23:07] amallia opened #7 "Retore Singleton blocks"
Singleton blocks have been removed since they break tests.
Restore when bug is identified.

[code]

[2018-08-23 23:07] amallia opened #8 "Add new scoring algorithms"
Consider the following:
- LMDS
- tf.idf
- Probability score
- Bose-Einstein
- DPH
- DFR
- TP-Score

[2018-08-23 23:08] amallia opened #9 "Add progress bar to verify index construction task"
Add tqdm to the verify index task
https://github.com/amallia/sera/tree/tqdm

[2018-09-09 04:11] amallia opened #11 "Get rid of Boost iostreams"
Consider to substitute Boost iostreams with https://github.com/mandreyel/mio

[2018-09-09 04:16] amallia opened #13 "Get rid of Boost unit_test_framework"
Consider substituting Boost thread with Gtest

[2018-09-26 17:26] amallia opened #1 "Get rid of Boost unit_test_framework"
Consider substituting Boost thread with Gtest

[2018-09-26 17:26] amallia opened #2 "Get rid of Boost thread"
Consider substituting Boost thread with TBB

[2018-09-26 17:27] amallia opened #3 "Get rid of Boost iostreams"
Consider to substitute Boost iostreams with https://github.com/mandreyel/mio

[2018-09-26 17:27] #11 closed

[2018-09-26 17:27] amallia opened #4 "Add progress bar to index construction task #9"
Add progress bar to the verify index task

[2018-09-26 17:27] #9 closed

[2018-09-26 17:28] amallia opened #5 "Add new scoring algorithms"
Consider the following:

- LMDS
- tf.idf
- Probability score
- Bose-Einstein
- DPH
- DFR
- TP-Score

[2018-09-26 17:28] #8 closed

[2018-09-26 17:28] amallia opened #6 "Retore Singleton blocks"
Singleton blocks have been removed since they break tests.
Restore when bug is identified.

[code]

[2018-09-26 17:28] #7 closed

[2018-10-29 14:49] elshize opened #12 "test_bit_vector fails nondeterministically"
At the very least, we should:

- Draw a random seed
- Print the seed out
- Use the seed for generating bit vectors
- Debug using the seed that fails

Also should consider running `ctest -VV` on Travis to be able to capture the output from there as well.

[2018-10-29 16:02] amallia commented on #12
All this makes a lot of sense. We should do it!

[2018-12-23 17:32] elshize opened #15 "Improve topk_queue::insert() to require only one pass down the heap"
In case when `topk_queue::size() == k`, we perform a pop and a push on the heap, which can be avoided.

Thanks to the property that the queue stays the same length, we can do a little trick.

1. We make sure that our internal array is at least `k + 1` long; or, in other words, the capacity is this much.
2. When pushing to the heap, we do the following:
  2.1. If we're at the threshold or above, we

[2018-12-26 16:44] #15 closed, assigned to elshize

[2018-12-26 20:47] amallia commented on #2
Related to https://github.com/pisa-engine/pisa/pull/20

[2018-12-29 14:31] elshize opened #22 "queries.hpp should include algorithms outside of namespace"
`queries.hpp` includes a bunch of other headers, but it does it inside a namespace. This is a problem when you need to add an external header to one of these files. Then, you're including, say, `tbb` namespace inside `ds2i`, which makes it `ds2i::tbb`.

Rather, we should put the namespace in each of those files separately.

[2018-12-29 15:03] elshize opened #23 "Enable using threshold/threshold estimates for performance/correctness test"
Threshold should be in a file, passed with an optional argument, and propagated as an optional vector. Decision whether or not to use threshold should be compile-time, so it doesn't slow down other types of queries.

[2018-12-29 15:05] elshize commented on #23
I need that for #14, but I'll implement it based on `master` because I don't know when #14 will be ready. So I hope this one can be merged soon so I can merge into it.

[2018-12-29 15:11] elshize opened #24 "Some weird comment"
https://github.com/pisa-engine/pisa/blob/8177a472f770d50e09676d68fbe74a97c657985d/src/queries.cpp#L22

Is this something we should be aware of? Or can it be removed?

[2018-12-29 16:44] elshize opened #26 "Discrepancies in query result set sizes"
https://github.com/pisa-engine/pisa/blob/8177a472f770d50e09676d68fbe74a97c657985d/test/test_ranked_queries.cpp#L45

There seems to be something wrong with query results when I vary `k`. (Or I don't understand somethinig.)

To show what I mean, I change this to:
[code]

I printed out `ranked_or_query` result sizes for all queries with both `k = 1` and `k = 10`. In the former case, there are some no

[2018-12-31 19:32] elshize opened #27 "Parsing collection and queries"
We need to have term/query/document mappings to release data after ECIR, among other things.

I suggest two programs:

1. Collection parser that takes text collection and produces three things:
  a. `binary_collection` to use for tests
  b. a two-way term/ID mapping
  c. a two-way document/ID mapping
2. Query parser that uses the above to translate terms in queries to IDs.

I got some code in my r

[2018-12-31 19:36] elshize commented on #1
Can we divide this task into these two?

1. Add dependency for the new testing framework. (So we can write new tests already in it)
2. Rewrite existing tests and get rid of Boost.Test (Later)

Also, I highly recommend using [Catch2](https://github.com/catchorg/Catch2), which is more intuitive and modern than GTest, and is being continuously developed.

[2018-12-31 19:38] elshize commented on #1
Note that Catch2 is header-only, so it is easy to add it to the project + it supports CMake, so you can easily add individual tests to run with `ctest`.

[2019-01-02 16:14] amallia opened #28 "Add Catch2"
Add Catch2 for the new testing framework. So we can write new tests already in it

[2019-01-02 16:15] amallia opened #29 "Remove Boost.Test"
Rewrite existing tests and get rid of Boost.Test

[2019-01-02 16:15] amallia commented on #1
Agreed. Created the two issues we need to complete the milestone:

- https://github.com/pisa-engine/pisa/issues/28
- https://github.com/pisa-engine/pisa/issues/29

[2019-01-02 16:15] #1 closed, assigned to nobody

[2019-01-02 16:17] amallia commented on #22
I agree. Let's do this ASAP.

[2019-01-04 15:53] elshize commented on #26
I wrote and pushed (#33) test that IMO should be passing but doesn't. At least for me ~locally~ on `xor`, we can wait and see what happens on Travis.

[2019-01-04 16:03] amallia commented on #2
Done in https://github.com/pisa-engine/pisa/pull/20

[2019-01-04 16:03] #2 closed, assigned to nobody

[2019-01-04 16:04] amallia commented on #3
Done in https://github.com/pisa-engine/pisa/pull/21

[2019-01-04 16:04] #3 closed, assigned to nobody

[2019-01-04 16:06] amallia commented on #29
Addressed in https://github.com/pisa-engine/pisa/pull/30

[2019-01-04 16:06] #29 closed, assigned to nobody

[2019-01-04 16:06] amallia commented on #28
Addressed in https://github.com/pisa-engine/pisa/pull/30

[2019-01-04 16:06] #28 closed, assigned to nobody

[2019-01-04 16:52] amallia opened #35 "Add Clang to Travis"

[2019-01-04 20:03] elshize opened #38 "Tests fail when run in parallel"
This one is low-priority but when I run, e.g.,  `ctest -j8`, one of the tests usually fails with `Bus error`. I suspect several tests write to the same file or something.

But as I said, this one is low priority.

[2019-01-04 20:04] elshize commented on #26
Fixed by #33

[2019-01-04 20:04] #26 closed, assigned to nobody

[2019-01-04 21:55] amallia commented on #27
Let's have three options for the stemming phase:
- no-stemming
- Porter2 (https://github.com/pisa-engine/Porter2)
- Krovetz (https://github.com/pisa-engine/KrovetzStemmer)

[2019-01-04 22:20] amallia commented on #4
Addressed in https://github.com/pisa-engine/pisa/pull/39

[2019-01-05 13:45] amallia commented on #24
Can be removed.
Feel free to reopen the issue if we want to do anything specific that needs to be tracked.

[2019-01-05 13:45] #24 closed, assigned to amallia

[2019-01-06 15:46] elshize opened #40 "Use Catch2 CMake functions to discover tests"
We can enable Catch2 helpers with:
[code]
and then add tests with
[code]

It's nicer because it exposes all individual test cases to `ctest` instead of each file only.

**NOTE:** This automatically worked with `find_package(Catch2)`, not sure if you need to do some extra include when you use a subdirectory, but I'm sure it's very easy either way.

[2019-01-06 20:14] amallia opened #41 "Use google/benchmark"
We should start to use https://github.com/google/benchmark

[2019-01-06 21:00] amallia opened #43 "Add a feature extraction tool from a forward index"
The first step to integrate Learning to Rank in Pisa is to have a feature extraction tool from the forward index.

[2019-01-06 23:09] elshize commented on #40
Another note: this would allow us to filter test by tags and we could tag integration and unit test to make it easier and faster to run only unit tests.

[2019-01-07 08:54] amallia opened #45 "A list of options for parsing"
- https://github.com/lexborisov/myhtml
- https://github.com/google/gumbo-parser
- https://github.com/zacharygrafton/gumbopp
- Apache Tika in server mode

Anything else?

[2019-01-07 09:05] amallia commented on #35
Added in https://github.com/pisa-engine/pisa/pull/36

[2019-01-07 09:09] amallia commented on #27
How do we deal with PDF/Word/Postscript files usually present in standard collections like Gov2?

I suspect we should check before sending to Gumbo.

[2019-01-07 15:55] elshize commented on #27
I wasn't aware there were these files there, so I didn't do anything. If there are some in Clueweb, then that might be why it gets stuck.

[2019-01-07 19:32] #35 closed, assigned to elshize, amallia

[2019-01-07 19:33] #4 closed, assigned to nobody

[2019-01-08 09:58] amallia opened #47 "Replace boost::optional with std::optional"
https://github.com/pisa-engine/pisa/blob/3bfbdec0da399dcb278d61d496ae348b999644fe/src/create_freq_index.cpp

https://github.com/pisa-engine/pisa/blob/61261d3b9c2515168be0bb420559227a53cb0468/src/profile_queries.cpp

https://github.com/pisa-engine/pisa/blob/61261d3b9c2515168be0bb420559227a53cb0468/src/queries.cpp

[2019-01-08 09:58] amallia opened #48 "Replace boost::variant with std::variant"
https://github.com/pisa-engine/pisa/blob/3bfbdec0da399dcb278d61d496ae348b999644fe/include/sequence/strict_sequence.hpp

https://github.com/pisa-engine/pisa/blob/3bfbdec0da399dcb278d61d496ae348b999644fe/include/sequence/indexed_sequence.hpp

[2019-01-09 12:52] amallia opened #50 "Convert into a constexpr unordered_map"
https://github.com/pisa-engine/pisa/blob/c421f3d4cd72883e66212692e1cc887a83c3d326/include/index_types.hpp#L50-L56

This can be converted into a constexpr map, s.t. the following can be implemented with a table lookup.

https://github.com/pisa-engine/pisa/blob/8177a472f770d50e09676d68fbe74a97c657985d/benchmarks/selective_queries.cpp#L67-L78

[2019-01-09 12:53] amallia commented on #50
We could use https://github.com/serge-sans-paille/frozen here.

[2019-01-09 14:38] elshize opened #52 "Replace boost::filesystem (or not)"
So I'm using `boost::filesystem` right now for convenience, but we wanted to get rid of Boost. It seems that `std::filesystem` compiler support is still very much spotty. We could use `std::experimental::filesystem`, which as far as I know is supported in both gcc and clang, and I think visual studio as well. Not sure about those, though.

Another option is to find an external library but I'm not

[2019-01-09 14:41] amallia commented on #52
I agree with you. No need to replace `boost::filesystem` until there is other boost stuff to get rid of.
`boost::filesystem` is also used in tests afaik.

[2019-01-09 14:55] elshize opened #53 "Use spdlog for logging"
We should use this: https://github.com/gabime/spdlog

It's fast, modern, header-only, flexible, powerful, and uses `{fmt}` library for formatting, which is very convenient, too.

[2019-01-09 17:28] elshize opened #54 "Parallel Network BP output repeated document IDs"
There seems to be something wrong but it needs further investigating. I open this as a reminder for myself to provide more information and validate the input network I used.

[2019-01-10 15:01] elshize opened #55 "Parsing CC-NEWS"
When parsing WARC, we assume there is a TREC ID field. This is not true for CC-NEWS, so it needs to be taken into account.

[code]

[2019-01-11 15:42] amallia opened #57 "Consider tlx/tlx to completely replace Boost"
Since https://github.com/tlx/tlx has some cool functionality we will need anyway at some point (B+trees, RadixHeap, Math Functions,...) it probably makes sense to replace some of the boost string algorithms with the one provided there.

[2019-01-13 01:20] elshize opened #59 "Integration test for parsing WARC"
Enable and possibly modify the test

- [ ] Add a test warc file
- [ ] Do the proper asserts

[2019-01-13 01:20] elshize opened #60 "Figure out what's the problem with gumbo not building before its dependents"

[2019-01-13 01:25] elshize opened #61 "Segfault when parsing Clueweb in WARC format"
When run:
[code]

I get segfault:
[code]

Needs investigating.

[2019-01-13 19:16] elshize commented on #22
Additionally, each file needs to include all needed headers. Now, we have some weird situation in which the order of includes in an executable might cause errors. This is very bad.

[2019-01-13 19:25] elshize commented on #22
This problem apparently isn't limited to the query algorithms. For example, `topk_queue.hpp` exhibits a similar issue of not including `util/util.hpp`, and therefore failing if it's not included before. But of course it shouldn't be needed explicitly in `.cpp` file if I don't use anything from utils there.

Long story short, it's kind of a mess.

[2019-01-13 22:45] amallia opened #62 "Parsing not working with Clueweb12"
[code]

[2019-01-14 16:46] amallia commented on #62
Should be solved once we integrate these changes: https://github.com/pisa-engine/warcpp/pull/3

[2019-01-14 17:06] amallia opened #63 "Support pipeline of operations"
https://github.com/pisa-engine/pisa/blob/e3a31217185e49c7e06c1ce59e5565f16367faf7/src/parse_collection.cpp#L48-L69

I would be nice if we could build a pipeline of actions to perform on the input stream.

We could decide to: parse_warc | strip_http_header | parse_html | stem | ...
It will give us much more freedom and will simplify the code. The pipeline will be first build according to what we ar

[2019-01-14 17:16] elshize commented on #63
Yep, that's a nice library, we should take advantage of it. With caution, though, it's easy to implement something inefficient when you don't pay attention.

[2019-01-16 11:22] #22 closed, assigned to nobody

[2019-01-16 11:22] #60 closed, assigned to nobody

[2019-01-17 01:48] JMMackenzie opened #65 "Dead code block"
Isn't this a dead block? The UB scores are computed in the constructor of the partition and returned as t unless I am mistaken.

https://github.com/pisa-engine/pisa/blob/3672c4c4ded444464cfdaf724010cceda828dfe7/include/pisa/wand_data_compressed.hpp#L119-L126

[2019-01-17 09:57] amallia commented on #65
It looks like `doc_score_top` and `max_score` are never used. We should just remove it.
Thanks

[2019-01-17 10:23] amallia commented on #65
https://github.com/pisa-engine/pisa/pull/66

[2019-01-17 14:24] #65 closed, assigned to elshize, amallia

[2019-01-17 15:31] amallia commented on #27
Closing this issue since https://github.com/pisa-engine/pisa/pull/37 has been merged

[2019-01-17 15:31] #27 closed, assigned to elshize

[2019-01-17 15:32] #45 closed, assigned to nobody

[2019-01-17 17:47] elshize opened #67 "Caching dependencies in Travis"
Since we have a few dependencies we build every time, can we still cache them even if we use them as subdirectories?

Or, here's an unpopular opinion, maybe we shouldn't build them from subdirectories.

[2019-01-17 17:47] #23 closed, assigned to elshize

[2019-01-17 19:50] amallia commented on #67
I vote for caching :)

[2019-01-18 09:45] #38 closed, assigned to nobody

[2019-01-18 13:43] elshize commented on #67
Do you know how to do it? Since we build within the git tree?

[2019-01-18 15:53] amallia commented on #67
I remember that I saw how to do it at some point. I have to check again, because i forgot :(

[2019-01-19 13:24] #47 closed, assigned to nobody

[2019-01-20 17:38] #53 closed, assigned to nobody

[2019-01-21 18:00] #40 closed, assigned to nobody

[2019-01-25 20:19] elshize opened #79 "Enable clang-tidy"

[2019-01-25 20:37] elshize opened #80 "Manage dependencies well"
Opening this for discussion.

[2019-01-26 14:33] elshize opened #81 "Support using string terms with forward index"
For example, if we pass `--terms <file>` or something of the sort, we assume that input is terms to be later translated to IDs.

While we're at it, a program to map terms to IDs in a file would be useful as well.

- [ ] ~Lexicon and lexicon tools #89~ will not do it for now
- [ ] Support lexicon for `queries`, `thresholds`, etc. with `std::unordered_map`

[2019-01-27 16:58] amallia opened #87 "Define a Scorer function API"
**Describe the solution you'd like**
A Scorer should have a generic constructor and an `operator()` which takes `docid` and `freq` as parameters.
The constructor will take care of storing any additional information needed by the scorer in order to perform the computation, the `operator()` will actually perform it and return the score.

**Additional context**
All the query algorithms need to be cha

[2019-01-27 19:31] amallia commented on #5
Related to https://github.com/pisa-engine/pisa/issues/87

[2019-01-29 14:39] elshize opened #90 "Add range-v3 dependency"
**Describe the solution you'd like**
[range-v3](https://github.com/ericniebler/range-v3) should be added as dependency in cmake.

**Motivation**
We've talked about using this in a big way but I think we should start with just adding it and using it from that point forward improve our code base. **Simple** examples include:
[code]

**Caution**
We should exercise caution when using these in performa

[2019-01-29 15:51] elshize opened #91 "Support Windows"
Unless there is a very good reason not to, we should support VS compilation as well.

[2019-01-29 20:22] #90 closed, assigned to elshize

[2019-01-29 21:19] elshize opened #93 "Easier use of standard command line options"
**Describe the solution you'd like**

Some cmd options will repeat throughout many tools, e.g., stem/nostem or index type. I suggest implementing some shortcut to defining these, so we don't have to repeatedly define a variable and then define the option. For one, it's annoying, and for two, any changes we want to make to the same option need to be manually propagated.

**Additional context**

I b

[2019-01-30 15:40] elshize opened #96 "Let's talk about type safety"
I think it would be nice to start using some strong types. I made the first attempt here: https://github.com/pisa-engine/pisa/blob/master/include/pisa/invert.hpp#L29

We can start with something like this, and then think about using `type_safe` library. Or use it right away. Not sure. Anyway, I'd like to start seeing some strong typing in the code. What do you think?

[2019-01-31 18:29] #81 closed, assigned to elshize

[2019-01-31 18:30] amallia commented on #91
BTW, travis supports Windows now. Although it is still in beta

[2019-01-31 18:51] elshize commented on #91
I guess we should try using travis then.

[2019-01-31 21:52] elshize opened #99 "Query processing for precision evaluation"
**Describe the solution you'd like**
As discussed, `queries` should be able to run eval queries and print out results in TREC format.

**Additional context**
We need document mapping to be provided, in a similar fashion to terms: #97

[2019-02-01 19:12] amallia commented on #67
Done in https://github.com/pisa-engine/pisa/pull/95

[2019-02-01 19:12] #67 closed, assigned to nobody

[2019-02-01 19:13] amallia commented on #48
Done in https://github.com/pisa-engine/pisa/pull/71 but currently blocked

[2019-02-04 15:47] elshize opened #101 "Compilation speed-up"
- [ ] https://github.com/include-what-you-use/include-what-you-use
- [ ] create a translation unit in `src` that, say, compiles query processing stuff once, and exposes an easy-to-use interface from each `src` file
- [ ] extern templates
- [ ] forward declarations
- [ ] precompiled headers https://github.com/nanoant/CMakePCHCompiler
- [ ] ?

[2019-02-04 15:58] elshize commented on #101
We can use `-ftime-report` flag to analyze.

[2019-02-11 13:57] elshize opened #104 "`invert` doesn't seem to remove batches"
**Describe the bug**
Batch files are not deleted after `invert` program exits.

[2019-02-11 14:54] elshize opened #105 "`invert` produces an empty list"
**To Reproduce**
1. Parse Clueweb09B with `parse_collection` (mg4j version)
2. Invert using `invert`
3. Try creating the index
[code]

**Error message**
[code]

**Expected behavior**
`invert` should never create empty lists. There is a bug. `invert` should have a check at the end to verify that.

[2019-02-15 19:24] #99 closed, assigned to elshize

[2019-02-15 22:44] #104 closed, assigned to elshize

[2019-02-15 22:44] #105 closed, assigned to nobody

[2019-02-18 12:33] elshize commented on #61
I am now processing on the uncorrupted collection.
[code]

Error:
[code]

The problem seems to be that a record doesn't have a mandatory `Content Length` named field.
[code]

As far as I managed to find, this is somewhere in either `70.warc.gz` or `69.warc.gz`.

[2019-02-18 15:17] elshize commented on #61
Actually, it's in file `en0001/41.warc.gz`:
[code]

It seems there are two new lines at the end of `WARC-Target-URI`. I verified the checksum so the file is not corrupted. Not sure this is an error or maybe that's something the format supports... At first, I thought that might be due to some Unicode problems, but there are clearly two consecutive `\n`.

[2019-02-18 16:06] elshize commented on #61
These files are completely messed up, because any WARC specs I can find says field delimiters are `CRLF` but there are no `CR` anywhere. So the library we were thinking of using a while back (https://github.com/jvanz/libwarc), which is up to specs, would not work at all because they make that assumption :|

[2019-02-22 14:51] elshize opened #118 "Upgrade CLI11 to 1.8 once released"
**Additional context**

In `master`, they added something we should definitely use, as it's clean and useful:
https://github.com/CLIUtils/CLI11/pull/222

Essentially, you can add a set of available values, e.g.,
[code]
This feature is tagged for version `1.8`.

[2019-02-22 21:13] #63 closed, assigned to elshize, amallia

[2019-02-27 17:46] elshize commented on #93
Suggested structure and examples of options we should define to be reused:
[code]

[2019-02-28 00:56] elshize commented on #93
[code]

@amallia What about something of this sort (can be further cleaned up).

For the recurring options, you would simply have a short one-liner to indicate you want that function, for the rest, you can use something as in the above examples, or simply use app directly with defining a variable before. The main difference between this and the first solution (in description) is that you access op

[2019-02-28 02:40] elshize commented on #93
Or better yet, since chaining after option is less frequent than not, we can use:
[code]
where the lambda is optional.
[code]

[2019-02-28 14:47] elshize commented on #93
Even easier:
[code]
or
[code]

[2019-02-28 15:59] #61 closed, assigned to nobody

[2019-03-02 15:07] elshize opened #125 "Store properties and statistics of an index"
I was thinking that maybe we should use an additional file, say, JSON format, to store some additional information about an index, such as document/term count, no. postings, etc.

**Additional context**

For one, this is good to have. But I also have an inspirational example: When parsing a collection, we produce a forward index in `binary_collection` without any information about number of terms.

[2019-03-02 20:20] elshize opened #126 "Gov2 parsing"
**Summary**
We need to be able to parse GOV2 collection.

**Additional context**

We need to be able to use another format, say, `trec` in this function https://github.com/pisa-engine/pisa/blob/master/src/parse_collection.cpp#L15

**Format**
As far as I can tell (but needs to be verified) the record format is:
[code]
So it's simple enough, we might be able to get by without any XML parsing. We hav

[2019-03-02 20:29] elshize opened #127 "Reuse index in read-only tests"
**Summary**
For tests such as `test_ranked_queries`, we build the index many times. While this is a good practice in general, these are read-only test, so no need for that. And we'd like to save some build/test time.

[2019-03-03 00:13] elshize opened #128 "binary_collection move invalidates iterator"
**Describe the bug**
Moving `binary_collection` invalidates any iterator pointing to its elements. This is because we store a pointer to it in the iterator structure. The fix is to store data pointer and size instead.

[2019-03-03 07:23] amallia opened #130 "Slowness in query algorithms due to new design"
**Describe the bug**
I have compared the new algorithms, in particular MaxScore, to the previous design and I have noticed that previously we used `norm_len` relatively to a document multiple times, by loading it only once and storing it into a temporary variable.

This cannot be done anymore with the current design. This probably impacts performance a bit. Any ideas?

Previously:
https://github.c

[2019-03-03 08:29] JMMackenzie commented on #130
You're not recomputing the normalised length for each scorer call, right? It's just getting it out of the appropriate `wand_data` element?

How much slower are you talking here? I wouldn't expect this to make a huge difference unless it was inducing a bunch of cache misses or something but that seems extremely unlikely.

Sorry for the short response as I'm currently mobile, but I can investigate f

[2019-03-03 08:51] amallia commented on #130
Yes correct!

The slowness is noticeable only with maxscore family and it is 10% (+0.2 ms/query in avg).

Thanks for the prompt response actually! Let's collect ideas and see if we can find anything interesting here.

[2019-03-03 09:17] amallia opened #131 "clueweb1k.plaintext is too big"
**Describe the solution you'd like**
`test_data/clueweb1k.plaintext` is just too big. We need to reduce its size, since the test to build the forward index takes ~10mins.

https://github.com/pisa-engine/pisa/blob/master/test/test_data/clueweb1k.plaintext

[2019-03-03 13:21] elshize commented on #130
It sounds unlikely that this would be the problem. Wouldn't it also affect WAND? But it should be easy enough to modify maxscore to precompute that just to test performance. You still have all the data available to score using the old method, don't you?

[2019-03-03 13:27] #131 closed, assigned to elshize

[2019-03-03 20:46] JMMackenzie commented on #130
I agree with @elshize that it would also impact wand, though I think maxscore might compute more individual scores than wand does just based on differences in the execution paths (I'm not 100% sure this is true but I do recall looking at this a few years back). In that case, it could cause a more noticeable difference for maxscore.

Another simple idea is to just profile the runs and ensure you're

[2019-03-03 20:49] amallia commented on #130
Yes MaxScore does much more scoring than WAND. Quite surprisingly WAND is slightly faster than before now though.

The algorithm itself is unchanged. I will ensure it produces the same output though.

[2019-03-03 20:58] JMMackenzie commented on #130
You could pass `cur_doc` into the scoring function to avoid accessing the `ordered_cursors[I]->docs_enum` to grab the doc identifier, but I doubt it saves much since you have to access that structure to get the frequency anyway.

[2019-03-03 21:59] amallia commented on #130
This is the commit that introduced the slowness: https://github.com/pisa-engine/pisa/pull/108/commits/4912c3df61fd2cebb50df2c906e324c674877c6c

The algorithm is identical. And scoring was still done in the exact same way as before.
The only difference I can see is this one: https://github.com/pisa-engine/pisa/pull/108/commits/4912c3df61fd2cebb50df2c906e324c674877c6c#diff-7cc7c1f839b3901ff338716a6b

[2019-03-03 23:28] JMMackenzie commented on #130
I did some tests with [4912cd](https://github.com/pisa-engine/pisa/commit/4912c3df61fd2cebb50df2c906e324c674877c6c), [head](https://github.com/pisa-engine/pisa/commit/fc436fd3017d18ada9edf792f96c4f65d7ac6148), and [e5615b](https://github.com/pisa-engine/pisa/commit/e5615b18627dcd5f257fa09375bcb6914cd72540) which is a bit older again.

I ran some queries across `gov2` and found some variance in the

[2019-03-04 10:09] #127 closed, assigned to nobody

[2019-03-04 10:11] amallia commented on #130
Closing this one since the slowness is negligible and it might be just some fluctuation.

[2019-03-04 10:11] #130 closed, assigned to elshize, JMMackenzie

[2019-03-04 13:26] #128 closed, assigned to elshize

[2019-03-04 14:52] elshize opened #134 "Pisa docker"
We should create and maintain a pisa docker image. Something general that can be later used to derive other images. For example, I'd like to have an image for internal use to test performance and produce a report with one command. Stuff like that. But we need to start with creating one that is able to run pisa out of the box. That would be awesome.

[2019-03-04 14:53] elshize commented on #6
@amallia Is this something important?

[2019-03-04 23:25] JMMackenzie commented on #126
Just for reference, this is `trecweb` format, a type of SGML. Note that there also exists `trectext` so you might want to be a little careful on the flag name for future expansion issues.

Indri has some references on the types, see [here](https://sourceforge.net/p/lemur/wiki/Indexer%20File%20Formats/).

[2019-03-05 13:34] elshize commented on #126
@JMMackenzie Thanks, I'll take this into account!

[2019-03-07 16:27] elshize opened #137 "Validate input and output paths for programs"
We should validate that a given collection/index given as input/output is valid, e.g., the directory exists and the files are there. If not, fail with a message.

The reason is that sometimes you can get an error that doesn't say much or even not get an error at all but just some undefined behavior.

[2019-03-07 19:03] #126 closed, assigned to elshize

[2019-03-07 19:23] elshize commented on #62
We still get a segfault, probably for a different reason.

Run on `etna`:
[code]

It most likely occurred in batch 275, or one of 280-288.

[2019-03-08 14:25] elshize commented on #55
We should modify our `Document_Record` to have a member function like `title` or `id` or something more generic than `trecid`: this would be a (unique?) text identifier of a document. Now, GOV2 or Clueweb would use TRECID, while CC-NEWS would use URL maybe?

This complicates things because we Clueweb and CC-NEWS are both WARC but would use a different way of returning that field. Which means we'd

[2019-03-08 14:25] #79 closed, assigned to nobody

[2019-03-08 14:34] elshize opened #139 "Lexicon revisited"
**Summary**
Loading entire document and term vectors/hash maps is slow and annoying (it takes about a minute to load it!). We need a better solution.

This revisits #81

**Additional context**
For simplicity's sake, I suggest again a payload-based string map that can be memory-mapped:

[code]

Offsets are `int`s and payloads are bytes (need not to be `string`s, could be anything we know how to sto

[2019-03-31 19:03] elshize opened #142 "--silent option in queries fails"
When run with `--silent`, it fails due to the fact that `default` logger already exists. Must rename.

[2019-03-31 19:32] elshize commented on #142
Addressed in fb0bcee

[2019-03-31 19:32] #142 closed, assigned to elshize

[2019-04-02 20:15] amallia opened #143 "Index format v1.0"
I am opening this one to start a discussion about our index format.

Ideally we would like to have a property file, say `.prop` where we store meta information about the index.
For now, I can think about storing in the property file an index version for compatibility purposes and the number of documents of the collection.
Right now the latter is stored inside the `.docs` file, which is not very el

[2019-04-02 22:04] JMMackenzie commented on #143
This seems reasonable.

Just as an example, Indri uses an XML format for storing metadata, and Galago uses JSON I think.

For example, here is an Indri manifest file for an old Gov2 Index:
[code]

I propose that we could store the following information (perhaps):

- Version data
- Number of documents
- Number of postings lists (terms)
- Compression codec (? - would allow us to reduce command line

[2019-04-02 22:38] amallia commented on #143
Yes, it is going to look like the `indri` manifest.
I would use either `yaml` or `json`.

`indri-distribution ` looks like what is going to be our version, so i would call it just `version`. We need to decide if our data version is going to corresponds to the software version. I would say so, it will make everything easier. We can rely on the major version to decide if an index is incompatible.

`

[2019-04-03 02:09] JMMackenzie opened #145 "Block-Max AND (BMA)"
In the original Block-Max WAND paper from Ding and Suel, they also explored using the Block-Max information to facilitate fast ranked conjunctions (section 7.3).  There seems to be no reason that we could not write a `block_max_ranked_and_query` which utilizes the block-max data to (hopefully) improve the efficiency of ranked conjunctions.

[2019-04-03 03:00] JMMackenzie opened #146 "Ranked AND not currently available"
In `queries.cpp`, `ranked_and_query` is not currently an option. Was this intended? I recall seeing it available in prior iterations, but cannot find any commits now.

I figure it should be available since it's used occasionally for different purposes, but you may have decided not to include it for some reason.

[2019-04-03 03:19] amallia commented on #146
Feel free to add it. It was probably removed by mistake

[2019-04-03 03:49] JMMackenzie commented on #145
I have created the `bma` branch to support this and added a first-try, but it's not yet tested. I will hopefully have more time to work on this soon.

[2019-04-03 05:25] #146 closed, assigned to nobody

[2019-04-04 04:56] JMMackenzie opened #150 "Heap behavior for ties with threshold"
- If a document being added to the heap has a tie with the threshold of the heap, the current document will be added (and the document it was tied with will be thrown away).
- If we assume that two documents with the same score are equally good, it would be better to just leave the current document.
- I propose to modify the heap insert function to require that the incoming document score exceeds

[2019-04-05 19:14] amallia opened #151 "Add parallel query processing"
Add a CLI argument to specify the number of threads to use to perform query processing.
The default should be `1`, but if a number higher than one is specified qp should be parallelized on a per query base.

[2019-04-08 07:24] JMMackenzie commented on #151
Did we have a particular framework for threading in mind? I'm not entirely up-to-date with how we are approaching all of the design details.

[2019-04-08 12:19] amallia commented on #151
`TBB` since it is already a dependency.
This should be a pretty simple task, all we need is to do a parallel-for.

[2019-04-08 14:19] elshize opened #152 "Add trectext for parsing"
Once this merged: https://github.com/pisa-engine/trecpp/pull/3, update and use in parsing code.

[2019-04-08 20:51] elshize commented on #143
Yes, definitely not XML. I think yaml is a good idea since it's very much readable, more so than JSON.

[2019-04-08 23:02] amallia commented on #143
Should we go with https://github.com/jbeder/yaml-cpp ? Do you know any lighter or better?

[2019-04-09 11:58] #152 closed, assigned to elshize

[2019-04-09 11:58] #134 closed, assigned to nobody

[2019-04-09 12:58] elshize commented on #143
This one seems reasonable.

[2019-04-10 04:59] amallia opened #155 "Lowercase when no-stemming is applied"
https://github.com/pisa-engine/pisa/blob/8cca7953ff9ea1683efa9aa8c24fae8a89663c5d/src/parse_collection.cpp#L85-L87

When no-stemming is applied, shouldn't we lowercase anyway?

[2019-04-10 12:48] #150 closed, assigned to elshize, amallia

[2019-04-10 15:57] amallia commented on #125
Duplicate: https://github.com/pisa-engine/pisa/issues/143

[2019-04-10 15:57] #125 closed, assigned to nobody

[2019-04-10 16:16] amallia opened #160 "Automatically trigger Docker image build"
**Describe the solution you'd like**
Trigger a Docker image build in Travis-CI, s.t. once all test pass a new Docker image is built.

[2019-04-10 22:33] amallia opened #162 "Block size for create_wand_data"
**Describe the solution you'd like**
Add block_size for BMW additional data as a CLI parameter in create_wand_data

[2019-04-11 03:30] amallia opened #163 "Have a task to convert TREC topic to standard queries"

[2019-04-11 17:34] amallia commented on #160
Done

[2019-04-11 17:34] #160 closed, assigned to amallia

[2019-04-11 21:19] amallia opened #164 "Evaluate_query should allow to select the algorithm"
**Describe the solution you'd like**
Since we are using `evaluate_query` for the workshop, we need to be able to select the query algorithm to use.

[2019-04-12 09:20] JMMackenzie commented on #163
Good point, we will need to either parse the file format or write some standalone program to convert between them. I like the latter option more. Is there a file format defined somewhere for the queries?

[2019-04-13 20:26] amallia commented on #143
https://arp242.net/weblog/json_as_configuration_files-_please_dont

An interesting point of view

[2019-04-14 15:10] #155 closed, assigned to elshize

[2019-04-15 04:58] amallia commented on #163
Fixed in https://github.com/pisa-engine/pisa/pull/165

[2019-04-15 04:58] #163 closed, assigned to amallia

[2019-04-15 06:53] #87 closed, assigned to nobody

[2019-04-15 08:30] JMMackenzie commented on #137
Just taking an initial look at this. There's a c++17 thing we could maybe use: https://en.cppreference.com/w/cpp/filesystem/exists

How general should this be though? I figure we want to call this function in each binary that requires a raw collection before we try to use the collection? Would something like this be sufficient (say, in util/util.hpp)?

[code]

[2019-04-15 11:46] elshize commented on #137
Yes, so we should have something of this sort. We should be able to do several things:
1. Verify that a certain dir exists or not,
2. Verify that a binary collection (or any other structure) exists (what you showed above),
3. and so on.

We should not use `std::experimental::filesystem` though. The support across different compilers is spotty at best. Instead, we should use `boost::filesystem` --

[2019-04-15 16:43] #164 closed, assigned to amallia

[2019-04-15 20:02] #54 closed, assigned to elshize

[2019-04-15 20:02] amallia commented on #54
Feel free to re-open if it makes sense

[2019-04-15 20:03] amallia commented on #57
Closing for now since we decided that boost is an acceptable dependency

[2019-04-15 20:03] #57 closed, assigned to nobody

[2019-04-17 09:43] elshize opened #175 "Test command line tools --- proposal"
# Proposal

This is one idea I had that doesn't involve some crazy complicated stuff in C++.

Basically, we have a hidden flag `--print-arguments` that doesn't show up in the help. We always have this pattern:

[code]

where `print_out` simply prints out the arguments so we can verify them in testing; and `do_work` is the entry function of the program, `args` is a program-specific function where y

[2019-04-18 09:54] amallia commented on #143
Considering that we already have boost and we want to use either INI (which I prefer) or yaml, I would say to start with Boost.PropertyTree. Here an example:
https://stackoverflow.com/a/15648662/5675412

[2019-04-18 09:58] elshize commented on #143
Looks quite reasonable.

[2019-04-18 10:01] amallia opened #176 "Software version"
In order to address https://github.com/pisa-engine/pisa/issues/143 we need to be able to tag our software with versions.
I would like to use a tool which automates all the process. What do you think of this one: https://github.com/fabiospampinato/bump

It allows to update custom files, we could have a `version.h` file which is included by others in order to check version of our binaries or to prin

[2019-04-25 11:42] elshize opened #179 "Implement query expansion"
We should have a mechanism for query expansion. At first, we could simply add another step in query parsing pipeline that can modify term array by adding new terms.

Simple examples:
- U.S.A. -> USA
- dog's -> dog

Later, we can use that for more complex stuff.

[2019-04-25 12:43] #139 closed, assigned to elshize

[2019-04-25 22:42] amallia commented on #176
Added `bump` configuration file. We can close this one.

[2019-04-25 22:46] #176 closed, assigned to nobody

[2019-04-25 23:16] amallia commented on #52
Since we decide keep boost for now, I think we can close this one for now.

[2019-04-26 14:25] #52 closed, assigned to nobody

[2019-04-29 15:28] amallia opened #184 "Parser for WaPo and NYT (json)"

[2019-04-30 03:40] amallia opened #185 "trec_topic_reader should remove new lines from descriptions and narratives."
**Describe the bug**
`trec_topic_reader` should remove new lines from descriptions and narratives.
https://github.com/pisa-engine/pisa/blob/master/include/pisa/query/trec_topic_reader.hpp

**To Reproduce**
Steps to reproduce the behavior:
1.  `extract_topics -i /input/topics/topics.robust04.301-450.601-700.txt -o Robust04`
2. `vim Robust04.desc`

**Expected behavior**
One query per line

[2019-04-30 06:10] #185 closed, assigned to amallia

[2019-05-02 18:02] #179 closed, assigned to nobody

[2019-05-04 02:06] JMMackenzie opened #188 "Block size handling"
We can probably refactor the handling of the lambda and block size data to be much cleaner down the track. For example, better handling of default values out of the configuration file may result in much cleaner code. We may also consider refactoring the block generation code to simplify.

This impacts all of the `wand_*.hpp` files.

[2019-05-05 20:51] #162 closed, assigned to JMMackenzie

[2019-05-05 20:52] amallia commented on #184
Added WaPo parser and use of eternal library for NYT

[2019-05-05 20:52] #184 closed, assigned to elshize

[2019-05-07 17:14] #145 closed, assigned to JMMackenzie

[2019-05-08 09:10] amallia opened #194 "Null in loggin"
**Describe the bug**
Log messages contain `null`

**To Reproduce**
Steps to reproduce the behavior:
` ./bin/queries -t opt -a block_max_ranked_and -i /data/inverted_indexes/compressed/GOV2/gov2.sorted-text.index.opt -w /data/inverted_indexes/compressed/GOV2/gov2.sorted-text.index.vbmw --compressed-wand  -q /data/inverted_indexes/GOV2/gov2.sorted-text.queries0.mapped.1k`

**Error message**
[code]

[2019-05-08 12:46] elshize commented on #194
It's actually the name of logger. I mistakenly switched names, that was supposed to be the name of one that doesn't write at all, hence null. Will fix.

[2019-05-08 22:52] #194 closed, assigned to elshize

[2019-05-08 23:03] #151 closed, assigned to elshize, JMMackenzie

[2019-05-09 00:35] binshengliu opened #196 "Doc: Missing self. in the python example code"
**Describe the bug**
Missing `self.` in the python example code. [Reading the collection using Python](https://pisa.readthedocs.io/en/latest/index_format.html#reading-the-collection-using-python)

**To Reproduce**
Steps to reproduce the behavior:
1. Run the python example code at [Reading the collection using Python](https://pisa.readthedocs.io/en/latest/index_format.html#reading-the-collection-us

[2019-05-09 00:48] amallia commented on #196
Thank you @binshengliu.
I opened #197 to fix this.

In the new version I am using `mmap` to read the collections, s.t. also big collections can be read with limited amount of RAM.

[2019-05-09 00:53] amallia opened #198 "Have an official chat"
**Describe the solution you'd like**
Although most of us are already in contact, either via email or slack, I feel we should have an official channel. It could be on Slack or any other tool, I don't mind.

I would be fine with a channel on the SIGIR workgroup too.

[2019-05-09 00:55] #196 closed, assigned to amallia

[2019-05-09 16:37] elshize commented on #198
I'm fine with opening another slack group/workspace, whatever that's called.

[2019-05-13 14:54] amallia commented on #198
[Slack](https://pisa-engine.slack.com) created

[2019-05-13 14:54] #198 closed, assigned to elshize, JMMackenzie, amallia

[2019-06-03 05:44] JMMackenzie opened #201 "TaaT algorithms don't work with new parallel `evaluate_queries`"
**Describe the bug**
When you use any of the TaaT algorithms with `evaluate_queries`, it throws a `bad_alloc` - I think this has something to do with the accumulators being init once and used by all (perhaps). Will happen even if we set `--threads 1`.

**To Reproduce**
Steps to reproduce the behavior:
1. Run `evaluate_queries` with any of the TaaT algos.

**Error message**
[code]

**Expected behav

[2019-06-06 14:55] amallia opened #203 "Recursive graph bisection should reorder the document lexicon too"
**Describe the bug**
Recursive graph bisection should reorder the document lexicon too

[2019-06-06 22:16] #203 closed, assigned to nobody

[2019-06-07 01:57] JMMackenzie opened #205 "Bisection document lexicon reordering ends in runtime_error"
If you do the bisection and pass in a doclex file to be reordered, the call to `auto documents = Payload_Vector<>::from(*documents_filename);` results in a runtime_error.

I think the bug is inside the `Payload_Vector<>::from()` call. I have pushed a PR for a workaround that mitigates this by avoiding this call.

[2019-06-07 10:04] elshize commented on #205
I'll take a look at sometime. In the meantime, let me know if despite the workaround there are still problem, or there are problems in any other part of the library.

[2019-06-07 13:42] amallia opened #207 "Logging more stuff for parsing and inverting phases"
**Describe the solution you'd like**
After parsing, we should print:
- documents number
- terms number

After inverting we should print the number of postings.

[2019-06-08 18:56] #207 closed, assigned to elshize

[2019-06-25 20:17] amallia commented on #62
Fixed :)

[2019-06-25 20:17] #62 closed, assigned to nobody

[2019-06-25 20:18] amallia commented on #118
Solved

[2019-06-25 20:18] #118 closed, assigned to nobody

[2019-06-25 20:19] #59 closed, assigned to nobody

[2019-07-16 09:59] Arteneko commented on #91
Azure Devops also supports Windows, alongside MacOS and Linux

[2019-07-16 10:02] Arteneko opened #225 "From-Scratch docker image + Documentation"
Looking at some old issues (the two that can be found when searching for `Dockerfile`), it appears that pisa may already have a docker image in some registry.

If so, documentation, or at least a link to this registry's image page, should be added.

If not, it'd be nice to have a from-scratch docker image.

[2019-07-16 10:19] amallia commented on #225
Thank you @IvanDelsinne for opening this issue.
Pisa has a Docker image https://github.com/pisa-engine/docker, which still need to be improved.
Currently the binaries are built when the Docker image is built. It would be nice to build the binaries in the machine where the Docker is running, because otherwise the binaries are not optimized for the architecture.

In the meantime, do you want to open

[2019-07-16 10:20] amallia commented on #91
Unfortunately, my experience with C++ development on Windows is quite limited. Do you want to help with this?

[2019-07-17 15:32] amallia opened #226 "MaxScore bug"
**Describe the bug**
I suspect there is a bug in MaxScore.

https://github.com/pisa-engine/pisa/blob/f8c65c16342537237ce3bc877bec3cbf6d006172/include/pisa/query/algorithm/maxscore_query.hpp#L40-L67

`non_essential_lists` is unsigned and initialized to `0`.  In line 63 we do: `size_t i = non_essential_lists - 1; `. this could potentially result in UB.

I noticed this bug because I was running MaxSc

[2019-07-17 22:27] JMMackenzie commented on #226
I thought that it was well defined behavior ? If `non_essential_lists` is 0 and we remove 1, we will get `i` being the maximum value of a `uint64_t`. Then we check if `i + 1 > 0` which is not true, as if will wrap back around to be 0, right? Or is the type of `i + 1` in the for loop possibly compiler/architecture specific?

Are you sure this isn't an issue with `cur_doc` being too large or small?

[2019-07-17 22:30] amallia commented on #226
Yes, you are right. This makes sense.

Yes the issue is with `cur_doc` being too small, but I thought it was a problem that derived from another one.

[2019-07-19 10:03] amallia opened #227 "Live block computation"
**Describe the bug**
https://github.com/pisa-engine/pisa/blob/f8c65c16342537237ce3bc877bec3cbf6d006172/test/test_wand_data.cpp#L108
Local variable `i` shadows outer variable.

[2019-07-22 07:19] wanghenshui commented on #227
[code]
may helpful

[2019-07-29 00:03] amallia commented on #201
The issue seems to be related to the fact that multiple threads run the same lambda function:
https://github.com/pisa-engine/pisa/blob/967bd65fc13077da9df2ca90b6c5e3ee0744d2ef/src/evaluate_queries.cpp#L134-L137

[2019-07-31 14:49] amallia opened #236 "Tokenization in parse_plaintext_content"
**Describe the bug**
Shouldn't we do proper tokenization in `parse_plaintext_content` too?
https://github.com/pisa-engine/pisa/blob/4a739b2ec50d2faa1e3c57336337e4fe219e09ec/include/pisa/forward_index_builder.hpp#L60-L66

[2019-08-05 16:26] amallia opened #237 "Feature extraction tool"
**Initial design of the feature extraction tool**
We would like to have a tool that is able to generate features for our learning to rank pipeline.
The tool should take as input a TREC run file, the corresponding log of queries, and an index.

The extractor should be able to generate:
- query-dependent features
- document-dependent features
- query-document features

The output is ideally in multi

[2019-08-05 16:37] amallia commented on #237
Example to convert from Rank-SVM to libsvm
https://github.com/guolinke/boosting_tree_benchmarks/blob/master/data/msltr2libsvm.py

[2019-08-23 00:58] binshengliu opened #242 "libtbb.so.2 is not installed by make install"
**Describe the bug**
`libtbb.so.2` is not installed by `make install`

**To Reproduce**
Steps to reproduce the behavior:
1. `cmake .. -DCMAKE_BUILD_TYPE=Release -DCMAKE_INSTALL_PREFIX=$HOME/.local/ `
2. `make && make install`
3. `parse_collection --help`

**Error message**
[code]
Manually cp libtbb.so.2 solves it.
[code]
**Expected behavior**
Program runs.

**Environment info**
Operating System: R

[2019-08-23 11:14] elshize commented on #242
The problem is we don't define `install` at all in our `CMakeLists.txt`. There are two things I see missing that we must do:

- define library installation rule(s) to have source/lib/tools installed,
- install `cmake` targets so that they can be found by `find_package`.

Our `wapopp` most likely does it right: https://github.com/pisa-engine/wapopp

Also as a reference: https://cliutils.gitlab.io/m

[2019-09-09 12:10] elshize opened #245 "Document query format"
The input query format should be documented in the docs.

[2019-09-09 13:23] ansariyusuf commented on #245
I want to convert TREC 2013 queries in to PISA Query format. As told, I tried to use extract_topics to convert TREC queries. But, I am getting the following error:
terminate called after throwing an instance of 'std::runtime_error'
  what():  Could not consume tag: <top>
Aborted (core dumped)

I have tried passing a text file containing TREC 2013 queries (format: <queryid>:query). I also passed TR

[2019-09-09 13:31] elshize commented on #245
Can you show one line from this file?

This type of queries should just go directly to the `queries` or `evaluate_queries` programs. `extract_topics` is designed to be used with this type of files: https://trec.nist.gov/data/terabyte/04/04topics.701-750.txt

Can you attach your XML file (or a snippet)?

[2019-09-09 14:08] ansariyusuf commented on #245
Following is the snippet of my text file:
201:raspberry pi
[https://trec.nist.gov/data/web/2013/web2013.topics.txt](url)

Following is the snippet of XML file:
[https://trec.nist.gov/data/web/2013/trec2013-topics.xml](url)
[code]

I tried passing passing the text file directly to the ./queries program. but, I get a bunch of warnings:
![image](https://user-images.githubusercontent.com/23194673/6453

[2019-09-09 15:33] elshize opened #246 "Add information about termmap and docmap in docs"
It's missing from: https://pisa.readthedocs.io/en/latest/parsing.html

[2019-09-09 15:35] elshize commented on #245
`parse_collection` program should produce a `*.termlex` file. You need to pass this file to `--terms` argument when calling `queries`.

[2019-09-09 16:27] ansariyusuf commented on #245
I did as you asked. Now, the ./queries program is segfaulting:
![image](https://user-images.githubusercontent.com/23194673/64548660-c4cde280-d337-11e9-9229-3012e78eb72b.png)

[2019-09-09 16:38] elshize commented on #245
Ok, this doesn't seem to be related to parsing queries anymore. Can you compile it in Debug and post the stack trace from `gdb`?

[2019-09-09 17:34] ansariyusuf commented on #245
I compiled with flag "-g" and then ran gdb. From gdb, I ran ./queries and got the following output:
![image](https://user-images.githubusercontent.com/23194673/64552930-0911b080-d341-11e9-9a29-d8a45a6263ec.png)
![image](https://user-images.githubusercontent.com/23194673/64552958-1a5abd00-d341-11e9-8994-10c6b8e9e959.png)
![image](https://user-images.githubusercontent.com/23194673/64552984-2ba3c980-

[2019-09-09 18:04] elshize commented on #245
There are two more tests we can run here that might help us understand what's happening:
1. Run `create_freq_index` again, and make sure that you run it with the same codec --- maybe the file is corrupted or you created a different type of index by accident; that would explain what happened.
2. If (1) doesn't help, then compress the index with another codec, say, `block_simdbp`, and run the query

[2019-09-10 19:02] ansariyusuf commented on #245
As requested, I ran create_freq_index again and this time I made the index type as block_optpfor. After, creating the index, I ran the queries program. It segfaulted, I have attached the backtrace from gdb:
![image](https://user-images.githubusercontent.com/23194673/64642203-7a6f6300-d416-11e9-8cfd-89b7086dc7a7.png)

I have repeated the entire process with index type pefopt and when I run ./querie

[2019-09-11 07:22] ybarsami opened #247 "Latex + Item + DOI bug in documentation"
Hi and thanks for the project. I am considering using it for research, and thus just began to read the documentation.

I found 3 small and easy-to-fix bugs in the page https://pisa.readthedocs.io/en/latest/compress_index.html

* first bug: in the "Elias-Fano" item, the latex code is not rendered properly (neither in the html doc, nor in the .pdf document)

* second bug: the "Simple8b" is apparentl

[2019-09-11 12:55] ybarsami commented on #48
I saw that "std::variant" is already in use in the project, e.g., in the warcpp code. Maybe it is ok to replace it in other parts of the code for harmonization ?

By the way, when building the code source of PISA today, I had a problem because of "std::variant". After investigation, it turns out that "std::variant" is in g++ since 7.1 and I had only g++ 5.5 (see https://gcc.gnu.org/onlinedocs/libs

[2019-09-11 12:57] elshize commented on #247
Thanks for finding those! Would you maybe want to create a pull request with fixes? :)

[2019-09-11 12:58] elshize commented on #245
Ok, one more question before I investigate further: are you on `master` right now? And if not, then which commit are you on?

[2019-09-11 13:08] ybarsami commented on #247
I don't know how to fix the latex rendering

(and also I never did a pull request)

[2019-09-11 13:49] ansariyusuf commented on #245
I think I am on master:
![image](https://user-images.githubusercontent.com/23194673/64702907-1602e100-d4b4-11e9-8986-4dee8c0cc2be.png)

[2019-09-11 14:01] elshize commented on #245
Can you run `git status`?

[2019-09-11 14:13] ansariyusuf commented on #245
Following is the output of git status:
![image](https://user-images.githubusercontent.com/23194673/64704699-5ca60a80-d4b7-11e9-9f5d-0eea229492ff.png)

[2019-09-11 16:39] elshize commented on #245
I'm running some tests to see if I can reproduce it. I'll get back to you when I get some results.

[2019-09-11 17:22] elshize commented on #247
That's okay, thanks for pointing these out anyway!

[2019-09-12 07:39] ansariyusuf commented on #245
If you need the collection that I am trying to parse and run queries on, do let me know. I will share it

[2019-09-12 14:21] elshize opened #248 "Limit memory usage during index compression"
Right now, I think everything resides in main memory for the entire run, and you need a lot memory to compress the big collections like Clueweb. But it should be easy enough to refactor it to only keep in memory as many posting lists as there are threads running.

[2019-09-15 15:01] elshize opened #249 "API v1.0"
Along with the index format (#143) we need to clean up and stabilize our programmatic API.

I vote to do it via function signatures and concepts for types. Although concepts are not yet in the standard only supported by GCC, we can still use them as a formal description of the types we accept. We can also optionally use `-fconcepts` feature for `gcc`, and have a build on Travis, which would check

[2019-09-15 15:45] elshize opened #250 "Block Codec concept"
In the spirit of #249, I want to start a discussion regarding our block (for now) codec interface.

Here's what it looks like now if represented by C++20 concepts TS:

[code]

But I think we can make it better and more generic by changing several things:

[code]

Note that I removed the `sum_of_values`. @amallia  Is it used anywhere other than interpolative?

Any thoughts?

[2019-09-15 17:39] elshize opened #251 "Cursor concept discussion"
[code]

[2019-09-15 17:41] elshize opened #252 "Index concept discussion"
[code]

[2019-09-19 15:21] elshize opened #255 "Relace read_query with newer parsing code"
https://github.com/pisa-engine/pisa/blob/master/include/pisa/query/queries.hpp#L77 we only use it twice in our code.

I say let's just use `for_each_line` as with other programs.

[2019-09-19 20:07] elshize commented on #227
@wanghenshui I'm all for extensive warnings, but do you have any idea if we can suppress warnings in the header-only libraries we depend on?

[2019-09-19 20:11] elshize commented on #48
@ybarsami We also had a problem with appleclang, which didn't implement certain functions for `std::variant`, hence blocking the issue. Now, for the readme, would you mind updating and creating a pull request for that?

[2019-09-21 01:07] elshize opened #256 "bad_alloc when using query terms"
`queries` with `--terms` crashes.

I've more or less found the problem, but wasn't able to finish the fix tonight.

[2019-09-22 11:41] elshize opened #258 "Array access (via field 'm_data') results in a null pointer dereference [clang-analyzer-core.NullDereference]"
**Describe the bug**
`clang-tidy` found a potential null pointer dereference in `bit_vector` code.

**To Reproduce**
Steps to reproduce the behavior:
1. From `build` directory, run `cmake -DCMAKE_EXPORT_COMPILE_COMMANDS=ON ..`
3. Run `clang-tidy -p build/compile_commands.json src/queries.cpp`

**Error message**
[code]

[2019-09-22 11:48] elshize commented on #258
Most likely related to #12

[2019-09-23 11:31] #256 closed, assigned to elshize

[2019-09-25 07:10] ybarsami commented on #48
Here are, in your project, where the message "GCC version must be at least 4.7!" appears. It is not in any README, but in the cmakelists. I don't know how you want to change that (one is a fatal error, others are only status), so change it as you like (and, if I'm pretty sure you need g++ 7.1 for warcpp, I don't know for other modules so I don't know how to update those messages anyway):

external

[2019-09-25 11:22] elshize opened #259 "Update system requirements in docs"
https://pisa.readthedocs.io/en/latest/getting_started.html#building-the-code the wording is unclear here, when we say that it was *tested* on different compilers. We should state clearly about c++17 and minimum versions that support that.

[2019-09-25 11:27] elshize commented on #48
These messages are old and I'm actually removing them one of the ongoing PRs. Documentation talks about compilers https://pisa.readthedocs.io/en/latest/getting_started.html#building-the-code but isn't very clear, so I opened #259

Do you feel like it's unclear how to find this information? Maybe we should give it a separate `Requirements` section so it's easier to spot...

[2019-09-25 11:47] ybarsami commented on #48
Oh, I totally saw this message on the documentations. But, from a strict logical point of view, the fact that your code compiles with the GNU compiler 7.4 does not imply that this is required (and, I could compile starting from g++ 7.1, as I said). I saw "gcc must be >= 4.7" when typing make, so I was surprised to see that there was a message, but that this message was not accurate.

Here is what

[2019-09-25 20:02] elshize opened #260 "Printing out numbers with separators"
In logs keeping track of, say, number of documents processed, it would be very beneficial to print big numbers with separators, e.g., `10,000,000` instead of `10000000`.

[2019-09-28 08:15] ansariyusuf opened #261 "Krovetz stemmer multi-thread bug with parse_collection"
**Describe the bug**
When I use parse collection with krovetz stemmer with more than 2 threads, the program crashes throwing the following error:
`** glibc detected *** ./parse_collection: free(): invalid next size (fast): 0x00007f7eac191cb0 **`

**To Reproduce**
Steps to reproduce the behavior:
1. use CW12  or CW12 subset as the collection to be parsed
2. pass the unzip stream to the ./parse_coll

[2019-10-02 06:54] binshengliu commented on #261
I can reproduce this. I suspect this might be related to KrovetzStemmer::stem being overwritten by multiple threads as there is only one such instance.

I made the following modification as a workaround, but there might be some performance penalty.
[code]

[2019-10-07 11:15] amallia commented on #261
@binshengliu could you create a PR with your fix? Thanks

[2019-10-07 11:15] amallia commented on #260
Agreed!

[2019-10-07 11:16] amallia commented on #258
Thank you. I will prioritize this fix.

[2019-10-07 16:22] elshize opened #262 "Consider using RapidCheck (or equivalent) for property testing"
https://github.com/emil-e/rapidcheck/blob/master/doc/properties.md

[2019-10-09 00:10] elshize opened #263 "Bugs found with Clang static analyzer"
Logic error | Dereference of null pointer | include/pisa/bit_vector.hpp | skip | 426 | 29 | View Report | Report Bug | Open File
-- | -- | -- | -- | -- | -- | -- | -- | --
Logic error | Dereference of null pointer | include/pisa/bit_vector.hpp | next | 410 | 22 | View Report | Report Bug | Open File
Logic error | Division by zero | include/pisa/codec/compact_elias_fano.hpp | offsets | 29 | 18 | Vi

[2019-10-10 13:57] elshize commented on #263
Note that the above results are incomplete, we should re-run `scan-build` tool to get the full list.

[2019-10-10 14:07] elshize opened #264 "Address sanitizer failures"
A number of tests fail when run with address sanitizer. Note that some might be due to TBB problems but there are definitely some that are strictly in our code. Needs further investigation.

**Steps To Reproduce**
1. `cmake -DUSE_SANITIZERS=ON -DCMAKE_BUILD_TYPE=Debug ..`
2. `make`
3. `ctest`

**Error message**
[code]

**Environment info**
Operating System: Linux
Compiler name: Clang
Compiler vers

[2019-10-10 23:39] elshize opened #265 "Use task_scheduler_init in tests where TBB is used"
Currently, tests that use TBB to, e.g., build a test index, fail with memory leaks when run with sanitizers.

The fix is to always include

[code]
at the beginning of each test (number of threads doesn't necessarily need to be 1).

[2019-10-11 13:09] binshengliu commented on #261
This isn't a really usable fix. It would create a stemmer instance for any single term and make the parser terribly slow.

I'd suggest delaying the stemmer instantiation to each thread as KrovetzStemmer class isn't thread-safe. More needs to be done to fix it.

[2019-10-14 23:47] JMMackenzie commented on #226
@amallia  Can we close this one? Or is there still a problem?

[2019-10-15 15:18] amallia commented on #226
I guess there is still some investigation to be done. Do you have any recommendations?

[2019-10-15 21:53] JMMackenzie commented on #226
I'm happy to investigate but I'd like to reproduce it first, I can have a look later on and I'll report back once I have some further information.

[2019-10-16 00:07] JMMackenzie commented on #226
Okay so I have had a look. I have provided an example below to show what is happening:
[code]
So what is happening is that we enter this loop with some current document we are trying to score:

https://github.com/pisa-engine/pisa/blob/f8c65c16342537237ce3bc877bec3cbf6d006172/include/pisa/query/algorithm/maxscore_query.hpp#L62-L67

Since we do not know anything about where these cursors are "pointi

[2019-10-16 00:09] #246 closed, assigned to nobody

[2019-10-16 00:10] #188 closed, assigned to nobody

[2019-10-16 00:42] JMMackenzie commented on #201
This seems to be solved for me now (via #234) - Could you double check? We can close this one off.

[2019-10-16 04:28] JMMackenzie commented on #264
I think they are coming from this call (and possibly more):

https://github.com/pisa-engine/pisa/blob/13353328f6746dfb59c0d371d4b2f20be6ff9d95/include/pisa/freq_index.hpp#L34

The reason seems to be related to #265 - TBB does not explicitly destroy some objects unless you scope the manager (so it gets destroyed when it goes out of scope). It may not cover all of them, but I am sure it covers a lot

[2019-10-19 12:20] elshize commented on #264
Yes, thanks for pointing this out and linking the issue. I'm pretty sure there are some other problems as well, though. I believe it's mostly legacy low-level code. I think `bitvector` is one of them, there are some division by zero or uninitialized variables going on in certain cases, which the analyzer found.

[2019-10-21 13:09] #265 closed, assigned to nobody

[2019-10-23 17:13] gustingonzalez opened #277 "Unsigned integer ‘last_doc’ works using an overflow ('block_posting_list' struct)"
In the following line:
https://github.com/pisa-engine/pisa/blob/d7599b1a909e6fdde7ca59611426c956493a5268/include/pisa/block_posting_list.hpp#L28
`last_doc` is `uint32_t` and maybe it should be `int32_t`. Although it does not represents a runtime error, conceptually it can be weird: for example, when debugging, its value is shown as 4294967295.

[2019-10-23 17:17] amallia commented on #277
I think it is fine to have a document ID which is the greatest possible. Remember we do not want to have last_doc equal to `-1` actually, but it is just a way of setting it to `UINT32_MAX`

@elshize comments?

[2019-10-23 17:30] gustingonzalez commented on #277
In following line, it makes sense that its value be -1:
https://github.com/pisa-engine/pisa/blob/d7599b1a909e6fdde7ca59611426c956493a5268/include/pisa/block_posting_list.hpp#L37

Then, on first iteration, this -1 allows to preserve the value of the first gap:
[code]

[2019-10-23 17:42] elshize commented on #277
There's definitely something shady going on here:
https://github.com/pisa-engine/pisa/blob/d7599b1a909e6fdde7ca59611426c956493a5268/include/pisa/block_posting_list.hpp#L37

So if `last_doc` is the largest integer (which btw you get by using `std::numeric_limit<T>::max()` if anything), then here `doc - last_doc - 1` we subtract an `uint32_t` by the maximum possible `uint32_t`, so we get an overflow

[2019-10-24 14:11] amallia commented on #277
Good point, but when dealing with unsigned integers, if you subtract a max value or you subtract `-1` the effect is the same. Remember that overflow is a defined operation for unsigned integers.

[2019-10-24 15:25] elshize commented on #277
@amallia can you check my code above? What do you think?

[2019-10-24 17:23] gustingonzalez commented on #277
Thanks @amallia. It's clear that both operations are the same. Even so, the unsigned overflow may seem strange (personally, when I was debugging, I had to think a little about what was happening there). That is, it sounds more natural to subtract directly -1.

In the other hand, regarding the piece of code proposed by @elshize, I think improves the readability of the delta encoding process. In add

[2019-10-24 17:53] amallia commented on #277
I think `block_base = doc + 1;` can generate some confusion.

I think the correct one should be:
`                BlockCodec::encode(docs_buf.data(), block_base - 1 - old_base - (cur_block_size - 1),
                                   cur_block_size, out);`

[2019-10-24 18:45] elshize commented on #277
Can you elaborate? Not sure what you're referring to.

At the same time, I want to propose to replace this
[code]
with
[code]

[2019-10-27 19:51] #277 closed, assigned to nobody

[2019-11-06 00:46] JMMackenzie opened #281 "Redundancy in BMW?"
A very minor issue in BMW where we have an `if` before a `std::min` which doesn't seem to be required? We can either do an `if` and then assign the smaller one, or we can just do a `std::min`, I don't see why we need both.

https://github.com/pisa-engine/pisa/blob/a046325f1b896142eaca469ecbf0d9c7bfa8d417/include/pisa/query/algorithm/block_max_wand_query.hpp#L143-L146

[2019-11-06 00:50] elshize commented on #281
Yeah, I think you're right, seems unnecessary. But I'm not sure which one is better or whether it makes any difference in performance. Any opinions?

[2019-11-06 00:57] JMMackenzie commented on #281
I'd almost bet they would compile down to the same instructions, so probably just using `std::min` is clearer? Let's see what @amallia thinks.

[2019-11-06 01:07] elshize commented on #281
Yeah, it would be surprising to me if there was a difference after optimization.

[2019-11-07 01:28] JMMackenzie commented on #281
I think we have another redundancy.

https://github.com/pisa-engine/pisa/blob/a046325f1b896142eaca469ecbf0d9c7bfa8d417/include/pisa/query/algorithm/block_max_wand_query.hpp#L136-L160

1. We set `next_jump` to be the maximum document identifier. [Line 137]
2. If we have at least one list beyond the pivot list, we take the docid in that list to be our `next_jump`. [Line 139-141]
3. We loop over the

[2019-11-07 03:54] JMMackenzie commented on #281
PS, regarding the `std::min` vs `if()` for finding mins, I ran a small benchmark that generated random integers and then iterated over them searching for the min. It seems that the `if` version is quite a lot faster after optimization (over huge vectors). Probably not enough to matter for our code/purposes, but it is what it is,

[2019-11-07 04:17] elshize commented on #281
Strange about the benchmark. Just out of curiosity, what compiler and
standard library implementation are you using?

I mean, it is really not the same thing, because of that assignment. It
probably results in assembly that always assigns and that write is the
difference. Maybe. Regardless, thanks for benchmarking, we should just use
the if statement then.

On Thu, Nov 7, 2019, 11:54 AM J Mackenzi

[2019-11-07 04:57] JMMackenzie commented on #281
GCC 9.2.1, it was just a quick 'n' dirty benchmark on my laptop. If you like, I can re-do it a bit better and report the results here on a few different machines?

[2019-11-07 05:24] elshize commented on #281
Hold of on that, I want to check something first before you spend time on
it. I'll get back to you later tonight.

On Thu, Nov 7, 2019, 12:57 PM J Mackenzie <notifications@github.com> wrote:

[2019-11-07 08:12] amallia commented on #281
Can we measure of the effect of the proposed change?

[2019-11-07 08:50] JMMackenzie commented on #281
Yes of course. I'll put together a test tomorrow with the two versions so we can compare, and I will report back here.

[2019-11-07 09:39] elshize commented on #281
I checked the assembly of two functions: https://gcc.godbolt.org/z/2k90uO on both GCC and clang, and when using `min` function, both generate `cmp`, then one conditional move between registers followed by an unconditional move to from register to memory. I imagine that conditional move is fast, and that's the optimized version of `min` itself. In the `if` case, you got your standard `cmp`, followe

[2019-11-07 09:49] JMMackenzie commented on #281
Good to know, thanks for checking.

Nevertheless, I'll compare the other issue I raised and see if we can simplify the code a little. I can also try the two different min methods and see if anything turns up at all. That branch probably isn't taken often enough to make a real difference anyway, but we can see.

[2019-11-07 10:29] elshize commented on #281
By the way, and this shouldn't affect performance here but just wanted to mention, if we have an `if` statement where we execute a function twice, once in the condition, and then later in the body, we can use the c++17 syntax:
[code]
If the access is more complicated then it can clearly speeds things up, but even if it doesn't we sometimes might want to do it for the sake of naming the variable an

[2019-11-07 22:05] JMMackenzie commented on #281
On a relatively large log of varying query lengths on Gov2 with SIMDBP:

Master: `{"type": "block_simdbp", "query": "block_max_wand", "avg": 22576.9, "q50": 15014, "q90": 49336, "q95": 69548}`

Suggested: `{"type": "block_simdbp", "query": "block_max_wand", "avg": 22530.1, "q50": 14990, "q90": 49264, "q95": 69539}`

I'd say differences are just by chance.

I am comparing these two blocks in partic

[2019-11-07 22:54] elshize commented on #281
In that case, I'd go with the simplified version.

[2019-11-09 17:06] #281 closed, assigned to elshize, amallia

[2019-11-11 13:17] #12 closed, assigned to nobody

[2019-11-13 21:45] amallia opened #286 "Issues coming from pull/273"
There are still two buffer overflows (seem to be reads right after allocated memory):

test_bmw_queries in https://github.com/pisa-engine/pisa/blob/master/include/pisa/score_opt_partition.hpp#L90
test_block_codecs in https://github.com/pisa-engine/pisa/blob/master/include/pisa/codec/interpolative_coding.hpp#L98
Also, there is still one error from the static analyzer. The problem is that bit_vector

[2019-11-27 19:22] elshize opened #290 "Don't print out empty intersections"
Currently, `compute_intersection` with `--combinations` prints out all combinations, even empty ones. We should add a condition that doesn't print out an intersection if `intersection.length == 0` because it means effectively it doesn't exist, and it could create problems later on.

[2019-12-02 14:33] amallia opened #291 "Drop stxxl"
**Describe the solution you'd like**
`stxxl` is only used by `optimal_hybrid_index.cpp` to perform external sorting.  Find a better alternative (`stxxl` is not maintained anymore) and replace it.

[2019-12-02 14:45] amallia opened #293 "Warning in invert.hpp:74"
The following warning is generated:

[code]

[2019-12-02 20:45] saltonz opened #294 "Sharding with customized doc-shard mapping"
Hi, I am now trying to use PISA on selective search research and confused about the shard operation.

When using the --shard-file option, what format of the **shard-file** should be for users to customize their own sharding rules?

Thank you!

[2019-12-02 21:06] elshize commented on #294
I'm assuming you're talking about `partition_fwd_index` command, right? Note that this is `--shard-files` plural, so what you're supposed to pass is a list of files, each of which describes a shard. Such a file contains "titles" of documents within that shard. So for, say, Clueweb, that would be the TRECID.

Here's more about the entire process: https://pisa.readthedocs.io/en/latest/sharding.html#

[2019-12-30 01:27] JMMackenzie opened #298 "BMW skip logic"
https://github.com/pisa-engine/pisa/blob/8d55d2f0be32632c1558a9118010828a2157de00/include/pisa/query/algorithm/block_max_wand_query.hpp#L125-L132

I think `q_weight` should probably be `max_weight` as we want to move the cursor behind the pivot with the largest upper-bound score. I think `q_weight` is almost always = 1.

Thoughts?

[2019-12-30 01:34] elshize commented on #298
Yes, we were literally having this discussion. Apparently, it doesn't really have impact on performance, at least not that we noticed. Maybe it should be further investigated. One thing for sure, picking the largest `q_weight` is simply a waste of time. Is it at all possible that removing this loop altogether will give us some speed-up? We should probably measure both that and by max score.

[2019-12-30 01:39] elshize opened #299 "Initialize bit vector enumerator buffer"
I think we should call `fill_buf` in the constructor here:
https://github.com/pisa-engine/pisa/blob/master/include/pisa/bit_vector.hpp#L358

Otherwise, if you call `skip_zeros` right after construction, it will never put anything in the buffer, and fail (or worse) right after the `while` loop, where it's assumed that the buffer is correct.

And in any case, we are prefetching where we could actual

[2019-12-30 03:33] JMMackenzie commented on #298
Right, so it would be good to compare doing either:

1) Find and then move the list with the highest max_score
2) Just move the pivot list

Any other candidates?

[2019-12-30 07:52] amallia commented on #298
Yes, for me we can give a try to (1) immediately as it directly correlates to IDF, which is the choice of the original paper.
Another option is to move based on the list length.

[2019-12-30 16:20] elshize commented on #298
Yeah, we should just change to `max_weight` now. As @amallia says, it's following the original paper, and it's what it was before. Any other experimentation we can leave for later.

[2019-12-30 22:19] #298 closed, assigned to elshize, JMMackenzie, amallia

[2020-01-05 16:08] elshize opened #305 "Support Ninja builds"
The `ExternalProject_Add` call for `gumbo`

https://github.com/pisa-engine/pisa/blob/master/CMakeLists.txt#L28

needs another property to support Ninja builds:

`BUILD_BYPRODUCTS ${CMAKE_BINARY_DIR}/gumbo-parser/lib/libgumbo.a`

Using it instead of `make` generator can potentially speed up compilation either now or in the future. Either way, it's an easy fix.

[2020-01-09 19:53] #5 closed, assigned to nobody

[2020-01-09 19:53] #43 closed, assigned to nobody

[2020-01-09 19:53] amallia commented on #43
Duplicate https://github.com/pisa-engine/pisa/issues/237

[2020-01-09 19:54] amallia commented on #201
Solved!

[2020-01-09 19:54] #201 closed, assigned to nobody

[2020-01-09 19:55] #205 closed, assigned to elshize

[2020-01-09 19:56] amallia commented on #236
@elshize what do you think about this?

[2020-01-09 19:58] amallia commented on #255
@elshize is this solved? Closing it for now, feel free to re-open if it is not solved

[2020-01-09 19:58] #255 closed, assigned to nobody

[2020-01-09 20:00] amallia commented on #262
I guess we use it now :)
Closing but feel free to reopen if it makes sense

[2020-01-09 20:00] #262 closed, assigned to nobody

[2020-01-13 23:55] JMMackenzie opened #306 "Incorrect size for binary sequence in Invert"
The beginning of the `.docs` canonical expects a single sequence, `1 N` where `N` represents the number of documents in the index. However, the code seems to take the number of terms instead.

https://github.com/pisa-engine/pisa/blob/5a7f149fb6a54e168ce70c51179e967c2e3bbe6a/include/pisa/invert.hpp#L176

We should double check that this is a bug, and then replace this with the correct size. I think

[2020-01-14 00:03] elshize commented on #306
It seems to be a bug. @amallia didn't we talk about something similar where you thought you had found a bug? Wasn't it somehow related? Do we even use this value? I can try to investigate but currently pretty busy.

[2020-01-14 10:16] amallia commented on #306
I opened a PR

[2020-01-14 20:27] #306 closed, assigned to nobody

[2020-01-15 17:45] elshize commented on #236
We probably should, but historically, we used this when we already had a stream of tokens coming, that's probably why it's like this. But yeah, it should be fixed.

[2020-02-04 18:45] #305 closed, assigned to nobody

[2020-02-06 22:01] JMMackenzie commented on #245
@elshize @ansariyusuf Did either if you end up figuring this one out?

[2020-02-06 22:23] elshize commented on #245
Nope, I never got to the bottom of this, @ansariyusuf have you ever fixed it, what happened to this? I'm sorry I didn't get back to you, I have been busy and this one just slipped my mind. If the problem still persist, let's tackled it!

[2020-02-07 10:54] ansariyusuf commented on #245
I did a fresh installation of PISA on a different machine and followed the steps as told to me by @elshize
 and it happened to work.

[2020-02-07 15:11] elshize commented on #245
In that case, let's close this one, feel free to open it if you experience similar problems in the future.

[2020-02-07 15:11] #245 closed, assigned to nobody

[2020-02-24 00:54] gustingonzalez opened #317 "Output buffer issue in maskedvbyte and varintgb encoders"
There is an issue with the encoding buffer of `maskedvbyte` and `varintgb` encoders:

https://github.com/pisa-engine/pisa/blob/84a1f3ee528083f4dd7675a133a6ddc73b4da3ec/include/pisa/codec/maskedvbyte.hpp#L24

https://github.com/pisa-engine/pisa/blob/84a1f3ee528083f4dd7675a133a6ddc73b4da3ec/include/pisa/codec/varintgb.hpp#L251

Since `thread_local` is used to define the `buf` variable, it's initiali

[2020-02-24 02:47] elshize commented on #317
The first solution seems reasonable to me. @JMMackenzie @amallia opinions?

[2020-02-24 02:51] JMMackenzie commented on #317
Nice find @gustingonzalez -- I'd vote for the first solution too.

[2020-02-24 02:53] amallia commented on #317
1st solution.

Nice catch. Not easy to find.

[2020-02-24 04:39] #317 closed, assigned to nobody

[2020-02-26 17:35] #93 closed, assigned to elshize

[2020-03-03 01:10] amallia opened #322 "Get rid of configuration.hpp"
Get rid of `configuration.hpp`

[2020-03-10 03:12] JMMackenzie opened #328 "Quantization segmentation faults"
Since we now support quantization I wanted to mess around with it and came across this bug.

When building a quantized index via `create_freq_index` I get a segmentation fault.

The problem is that we instantiate a `scorer` without the scorer having `m_wdata` -- we then try to do `auto term_weight = query_term_weight(term_len, this->m_wdata.num_docs());` when we call `term_scorer` which leads to t

[2020-03-10 03:48] JMMackenzie commented on #328
Following up, it seems that the process is to first build the `wand_data` and then pass it into the `create_frequency_index` binary. If this is what is intended, it may be worth adding guards to the CLI to ensure that if `--quantize` is set, then `--wand` is also provided.

[2020-03-10 15:30] amallia commented on #328
Agreed. We should ensure to have a wand file if `--quantize` is passed

[2020-03-10 17:34] #328 closed, assigned to elshize, JMMackenzie, amallia

[2020-03-10 23:21] JMMackenzie opened #332 "Scorer required when creating freq index"
It seems that we now require a scorer when building a frequency index.

For example, I am trying to build the CIFF CW12B index and I see:

[code]

I think it is because the block here is entered even without a scorer set: https://github.com/pisa-engine/pisa/blob/8350b71e231f340abe90abed02b64c4f8825eeaa/tools/create_freq_index.cpp#L93-L95

And I think this is because of the `required()` here, and t

[2020-03-11 11:03] #332 closed, assigned to elshize, JMMackenzie, amallia

[2020-03-12 14:51] amallia opened #336 "Fix selective_queries.cpp"
**Describe the bug**
1. `selective_queries.cpp` should be moved into `tools`
2. The task is not performing any selective selection
[code]

[2020-03-13 14:05] elshize commented on #336
What is it supposed to do anyway?

[2020-03-13 14:07] amallia commented on #336
Selective is defined as

[2020-03-13 21:16] #336 closed, assigned to amallia

[2020-03-16 23:10] JMMackenzie opened #339 "Improving the understanding of what PISA is"
Given recent feedback from HN, we should look at improving how we explain PISA, and offer some benchmarks to common systems like Lucene and Tantivy (perhaps).

We also should document some things such as:

- Use cases
- Assumptions (in memory)
- Target audience and why you would want to use it
- Limitations
- Algorithms implemented (in terms of the basics, ie top-k search, Boolean matching, etc)
-

[2020-03-25 13:25] fulmicoton commented on #339
Hello. I maintain tantivy.

We have a simple benchmark that makes it possible to measure your engine against tantivy and lucene.

https://github.com/tantivy-search/search-benchmark-game

[2020-03-25 15:40] elshize commented on #339
@fulmicoton Thanks! I noticed that many "union" type of queries are now faster with Lucene. Is that due to their recent implementation of BMW? Do you know? Is that a recent change?

[2020-03-26 00:29] fulmicoton commented on #339
Yes this is due to BMWand.

You can see them in the bench if you select the top 10 collector and union queries.
https://tantivy-search.github.io/bench/

Lucene >=8 is >2x faster than tantivy at those queries.

It was the other way around for Lucene <8.

[2020-03-28 14:14] elshize opened #352 "Headers exported wthout "pisa""
When PISA is used as a library, the exported path for includes is wrong; you need to include headers like so:

[code]

#### Should be

[code]

[2020-04-02 05:53] fulmicoton opened #353 "slack link"
**Describe the bug**
The slack invitation link in README seems broken.

**To Reproduce**
Click on link

**Error message**
Slack error message saying this link is not valid anymore.

[2020-04-02 12:09] amallia commented on #353
Fixed!

[2020-04-02 12:10] #353 closed, assigned to nobody

[2020-04-02 21:21] JMMackenzie commented on #339
Thanks to the awesome work of @amallia and @elshize (and the help of @fulmicoton ) we now feature in the Tantivy benchmark game: https://github.com/tantivy-search/search-benchmark-game

This is one step towards closing off this issue :-)

[2020-04-03 18:54] scisci opened #355 "Pisa as c++ library"
Is it possible to build this as a statically linked library instead of a CLI? I am interested in adding full text search to an application I am writing. The examples I see in the docs all appear to use a CLI so wondering if the developers can clarify if it should be possible. Ideally I'd like to use CMake to add it to my project so any examples from someone who has done this before would be helpfu

[2020-04-03 19:15] elshize commented on #355
Yes, it is possible. You can take a look here for an example: https://github.com/tantivy-search/search-benchmark-game/tree/master/engines/pisa-0.8.2 Also feel free to let us know if something's not working.

This part is important: https://github.com/tantivy-search/search-benchmark-game/blob/3f19eda411c64d08940901bf5ade74e9ab4ef23e/engines/pisa-0.8.2/CMakeLists.txt#L35 You can turn these options o

[2020-04-03 20:59] scisci commented on #355
Perfect. Thanks for the quick reply.

[2020-04-06 15:23] elshize opened #357 "Always check if path exists"
We have many places where we just assume that a file exists, say, when we create a `mio::mmap_source`, which then fails with simply `No such file exists` or something similar if the file is missing. It's difficult to debug, and more importantly, it's very confusing to the end user. We should at least have a function `resolve_path(str)` that throws a more informative error message. We can also thin

[2020-04-06 23:59] JMMackenzie commented on #357
+1, sounds like a nice idea.

[2020-04-07 01:33] JMMackenzie commented on #339
Hi (@elshize @amallia @gustingonzalez)

Just added this: https://github.com/pisa-engine/pisa/blob/describe-pisa/ABOUT.md

Could you take a look and let me know what you think is missing/needs changing?

[2020-04-07 01:48] elshize commented on #339
It looks good. Nothing else to add comes to mind at the moment. You wrote: $50$ million, so you make sure to remove the $ signs, but other than that, it looks solid.

[2020-04-07 02:03] JMMackenzie commented on #339
Whoops, too much TeX haha. Fixed, thanks.

[2020-04-07 04:38] gustingonzalez commented on #339
Hello everyone! Looks good. Maybe, in the first paragraph, it can be useful define the _inverted index_ concept as the logical representation of a corpus.

[2020-04-07 04:47] JMMackenzie commented on #339
Thanks, good suggestion. I included that and a link to Wikipedia's relevant area.

[2020-04-14 11:26] JMMackenzie commented on #339
Let's keep this open for now as a WIP, we can add some library examples as well. First step has been done via #359

[2020-04-24 01:04] elshize opened #367 "Remove pessimizing move"
[code]

[2020-04-24 04:10] JMMackenzie opened #368 "TBB task_scheduler_init has been deprecated"
[code]

I think we need to move to using `global_control` - https://software.intel.com/en-us/node/589744

[2020-04-24 22:31] jsmer005 opened #369 "Compiler crash on Apple LLVM version 10.0.1"
[code]
I've spent hours trying to figure out what is going on here, but to no end. Can someone tell me why Clang continually crashes on this particular source file?

[2020-04-24 22:47] elshize commented on #369
No idea but it looks like a compiler bug. Here's a few questions:
- Did you look at those diagnostic messages?
- What version/commit of PISA are you trying to compile?
- Are you able to try compiling with regular clang or gcc?

@amallia do you have any idea? Have you experienced anything like this on your mac?

[2020-04-24 22:53] jsmer005 commented on #369
Hi, thanks for looking into this.
1) I looked for the crash backtrace, but couldn't find it anywhere. It wasn't in the folder listed or anywhere else in the console.
2) I am compiling a version of PISA that I cloned this morning. I believe it is v0.8.2.
3) I have not tried using only clang/gcc. Would you tell me how I might go about that?

Thank you!

[2020-04-24 22:59] elshize commented on #369
I can only guess you you have some kind of package manager and there's a clang or gcc package. I mean you can always compile it but I'm almost positive there's a better way. Sorry, I don't really know how things work on mac, I don't wanna steer you wrong. @amallia is our resident mac user, so hopefully he'll chime in when he sees it.

I checked that it compiles on travis with AppleClang 11, so upg

[2020-04-25 17:06] #355 closed, assigned to nobody

[2020-04-26 09:16] amallia commented on #369
@jsmer005 I am using Clang 9 on my MacOS setup, but not the Apple Clang.
I see you are running Apple Clang 10. AFAIK Apple Clang 10 is not fully compatible with C++17.

Our Travis instance is running fine on Xcode 11.2.1 which is Apple clang version 11.0.0, as @elshize already mentioned. I can try to add Clang 10 and see if we have the same issue.

My recommendation is to install apple Clang 9 and

[2020-04-26 09:17] amallia commented on #369
Testing: https://github.com/pisa-engine/pisa/pull/371

[2020-04-26 11:56] elshize commented on #369
@jsmer005 so it turns out, at least on Travis, PISA compiles just fine with 10.3, so even upgrading to this one should work, hopefully.

I'm guessing what you're experiencing is just a compiler bug that has been fixed in later point versions.

If you decide to upgrade, let us know if it helps.

[2020-04-26 12:14] jsmer005 commented on #369
O.K., thank you for all your help! I'll try upgrading to a newer version of LLVM. It looks like this is obviously just a problem on my end, so I'm closing the issue.

[2020-04-26 12:14] #369 closed, assigned to nobody

[2020-04-26 12:15] amallia opened #372 "Speed up CI for PRs"
I propose to limit Travis build for PRs to few essential checks.
First, we can compile headers since it is quite fast so we make sure all the included are in place.
Then we can run Clang-format check since it is also quite fast.
Finally instead of checking multiple compiler versions we could run the latest (or oldest) version of the compiler only.

When we merge into master Travis will run a deepe

[2020-04-26 12:16] amallia commented on #369
No problem, feel free to reopen if you need more help. And let us know how it goes!

P.S. don’t forget to join our slack channel 😬

[2020-04-26 13:57] elshize commented on #372
I agree. I'd like to keep clang-tidy build for each PR though. If we have to choose which compilers to run primarily, we should use the latest version.

Before we set up to build more on `master` but not other, we can probably more easily reduce the time by not running tests on all builds, just checking if it compiles.

Do you want to try building that CI pipeline with Github actions? It might be

[2020-04-26 18:21] jsmer005 commented on #369
Updating X-Code to 11.4.1 (w/ Clang v. 11.0.3) solved the problem. Thanks.

[2020-04-26 22:13] JMMackenzie commented on #372
Sure, I am also in favor of this. I also agree with @elshize - it's probably a good chance to try the GitHub actions approach instead of Travis.

[2020-04-27 01:17] gustingonzalez commented on #372
Hello everyone. Maybe the older and the latest version of `gcc` and `clang` could be checked. On the other hand, consider to update the [documentation](https://pisa.readthedocs.io/en/latest/getting_started.html) based on the changes.

[2020-05-02 14:36] elshize opened #379 "Upgrade to GSL 3.0"
https://github.com/microsoft/GSL/releases/tag/v3.0.1

[2020-05-05 23:28] elshize opened #381 "WAND data should be required?"
Right now, the CLI doesn't require `--wand` for `compute_intersection` but it fails if I don't pass it. But more generally, is any querying have any chance of working without wand data? Does it make sense for it to be optional?

Edit: in fact, if you look at `evaluate_queries`, all algorithms require wand data, so no reason not to require it at CLI. As far as I can tell, only the not ranked algori

[2020-05-12 11:40] ybarsami opened #385 "reorder-docids --bp -p does not print the new ordering"
Before the merging of recursive_graph_bisection into reorder-docids (pull 363 : https://github.com/pisa-engine/pisa/pull/363), I was able to use -p to print the new ordering when doing a recursive graph bisection.

Now, instead of calling recursive_graph_bisection, we have to call reorder-docids --bp (or the equivalent reorder-docids --recursive-graph-bisection). But this time, the executable does

[2020-05-14 12:28] elshize commented on #385
Thanks for reporting this. There is a bug right here: https://github.com/pisa-engine/pisa/blob/a84fada8bbdad250ac65d7a2809a444943e16c97/tools/reorder_docids.hpp#L23 Looking at the code, you should be able to print it by **not including** `-p` (the logic is reversed) until I get a chance to fix it. (You're also welcome to submit a PR removing the `not` from that line if you get to it before I do---

[2020-05-18 01:31] JMMackenzie commented on #381
I guess we could duplicate:

https://github.com/pisa-engine/pisa/blob/a84fada8bbdad250ac65d7a2809a444943e16c97/tools/app.hpp#L36

And have `OptionalWandData` and `RequiredWandData` or something?

We could also just template it but I am not sure how elegant it would be passing a `std::optional` after making it required at CLI?

[2020-05-18 01:44] elshize commented on #381
We could actually template it and have the return value to be different based on the template (`...` is whatever compile-time check we need to make):
[code]

Alternatively, you can have a simple function, but use `std::conditional` to define the type of the member variable:
[code]

[2020-05-18 03:20] JMMackenzie commented on #385
Closed via #386

[2020-05-18 03:20] #385 closed, assigned to elshize

[2020-05-19 04:52] #381 closed, assigned to nobody

[2020-05-20 02:49] #368 closed, assigned to JMMackenzie

[2020-05-21 01:18] #261 closed, assigned to nobody

[2020-05-24 13:53] elshize opened #392 "Use --scorer for compute_intersection"
Right now, the scorer is hard-coded to `bm25`.

[2020-05-24 14:02] elshize opened #393 "Redundant quantize flag?"
Somehow, we ended up with two quantization options for `queries`. First, we have `--quantized`, and then we have `--scorer quantized`. I think the easier way would be to remove `--quantized` because the other takes part in scorer resolution directly. The alternative is to have exactly one of the options required because saying `--scorer bm25 --quantized` makes no sense.

[2020-06-01 01:56] mpetri opened #397 "Support modern WARC/1.0 inputs in parse_collection"
**Describe the bug**
Downloading a WARC file from the common crawl and piping it into `parse_collection` results in an empty forward index.

**To Reproduce**
Steps to reproduce the behavior:
1. `wget https://commoncrawl.s3.amazonaws.com/crawl-data/CC-NEWS/2018/02/CC-NEWS-20180201022700-00187.warc.gz`
2. `zcat ./CC-NEWS-20180201022700-00187.warc.gz | ./parse_collection -o ./forward -j 5 -f warc --s

[2020-06-01 02:58] JMMackenzie commented on #397
@elshize this is probably one for you - could it be something to do with WARC compliance?

[2020-06-01 03:10] JMMackenzie commented on #397
I suspect the issue is here - seems that it requires a TREC identifier which is non-standard WARC. Perhaps we can refactor such that it can proceed but assigns some other identifier?

https://github.com/pisa-engine/warcpp/blob/master/include/warcpp/warcpp.hpp#L119

After manually editing the CC-News file to add a single `WARC-Trec-ID: ABC-123` I see the following:

[code]

[code]

[code]

[2020-06-01 03:28] mpetri opened #398 "Slow parse_collection due to I/O synchronization"
**Describe the bug**
Ingesting plaintext records via stdin seems very slow (`12`MiB/sec) even though `60` worker threads are used. I suspect this has to do with https://en.cppreference.com/w/cpp/io/ios_base/sync_with_stdio

Before I disabled synchronization most threads were idle and I could only parse with `12`MiB/sec. After I disabled sync I was able to ingest with full speed (speed of the decom

[2020-06-01 03:33] mpetri commented on #397
WARC has a required header called `WARC-Record-ID` which could be used instead if the TREC-ID is not available. From the spec:

[2020-06-01 07:39] amallia commented on #397
Thank you all! This is a known bug we never solved because we never had to parse CC-NEWS before. Maybe now is the right time to fix it.
TREC WARC differs from standard WARC and we need to switch from one to the other dynamically. I will take a look.

[2020-06-01 13:44] amallia commented on #393
It is not exactly redundant. `--quantized` is used by `https://github.com/pisa-engine/pisa/blob/master/include/pisa/wand_data_compressed.hpp`

If `--quantized` is passed, when  block upper bound scores are computed they do not need to be unquantized. Please note that in  `https://github.com/pisa-engine/pisa/blob/master/include/pisa/wand_data_compressed.hpp` scores are stored quantized.

We could f

[2020-06-01 13:51] elshize commented on #398
Thanks @mpetri for reporting. Yes, this should be totally safe. The input is read from `stdin` only by the main thread and then batches are delegated to the workers, and these write do different files, after which one thread merges them. So there should be no races.

If you notice any problems, let us know.

[2020-06-01 14:06] elshize commented on #393
I understand, but we can easily use `auto quantized = scorer_name == "quantized"` and pass it along. The point is to have the command arguments that make sense. I've been trying to run quantized queries with `--quantized` and it just spit out some garbage results because I didn't also say `-s quantized`. This is not a nuclear weapon, we don't need two triggers.

[2020-06-01 14:15] mpetri opened #399 "Documentation outdated"
**Describe the bug**
The docs at https://pisa.readthedocs.io/en/latest/compress_index.html#usage talk about using `create_freq_index` which is what the binary was called in `ds2i`. It looks like it was renamed to `compress_inverted_index` and additional features were added?

**To Reproduce**
Steps to reproduce the behavior:
1. Go to the docs
2. Find the old description

**Expected behavior**
The d

[2020-06-01 15:26] amallia commented on #339
Shall we add a list of papers that use PISA?
Here my list, are there any others? @elshize @elshize

- https://dl.acm.org/doi/abs/10.1145/3373376.3378521
- https://dl.acm.org/doi/abs/10.1145/3345001
- https://dl.acm.org/doi/abs/10.1145/3331184.3331207
- https://link.springer.com/chapter/10.1007/978-3-030-15712-8_23
- https://dl.acm.org/doi/abs/10.14778/3384345.3384358
- https://arxiv.org/abs/2003.0

[2020-06-01 16:44] mpetri opened #400 "Support QPS/TPS reporting"
**Describe the solution you'd like**
The bitfunnel paper contained some additions to the `partitioned_elias_fano` codebase which allowed measuring queries per second with multiple threads. see here: `https://github.com/BitFunnel/partitioned_elias_fano/blob/master/Runner/QueryLogRunner.cpp#L56`

It would be nice in addition to reporting the metrics by `queries` if pisa could provide such a multi th

[2020-06-01 16:51] mpetri commented on #398
After creating an index with this enabled everything looked okay. So you are right it looks like it is safe. The main question would be where to enable this in the program? At the start or only at the beginning of the while loop in the `forward_index_builder`

[2020-06-01 17:29] elshize commented on #398
I think we should do it in the `parse_collection` tool itself. Right now, it would probably not make any difference, but I'd rather not change global state in one of the algorithms, it might lead to some surprising bugs down the road.

[2020-06-01 17:30] elshize commented on #339
Nothing else comes to mind. @JMMackenzie ?

[2020-06-01 22:53] JMMackenzie commented on #339
When it becomes available this one: https://jmmackenzie.io/publication/sigir20-short/

Also the repro bisection paper: https://link.springer.com/chapter/10.1007/978-3-030-15712-8_22

Could also be a few more from SIGIR from other groups, but we'll have to wait to see. I usually keep an eye on ArXiv but haven't seen anyone using it recently.

[2020-06-02 13:40] elshize opened #402 "Decrease number of test queries"
Some of the most expensive tests to run are the ones performing queries. These tests are pretty slow because they are run in Debug mode. Right now, we have 500 test queries. I think that for the purpose of unit/integration tests, we don't need as many. I think about 100 would be just fine, and it would save us a few minutes on each run.

[2020-06-02 17:19] mpetri opened #403 "Improve concurrency and space efficiency of parse_collection"
**Describe the solution you'd like**
The parse_collection command seems to have several potential areas of improvements:

1. "Remapping IDs" could be done in parallel

2. "Concatenating batches" and "Remapping IDs" could be combined into one step. Currently remapping ids rewrites the content on disk only to write it again in the "Concatenating batches" step.

3. The `run()` method could use an `un

[2020-06-02 17:27] mpetri commented on #403
To put some context into this:

I was creating a collection and processing the documents (where it outputs [Batch 1234] Processed documents) took the same time as the "remapping IDs" part of the parsing.

[2020-06-02 17:40] mpetri commented on #403
Another idea: You could even concatenate in parallel as you know where the data for the different batches will end up in the big file.

[2020-06-02 19:52] elshize commented on #403
I agree, there is much to be improved. I could only spare a moment to look at it for now, but from what I can tell:
- I don't see the reason to use `map` either, maybe it was a remnant of an earlier version. `unordered_map` should do just fine. A little side note: we had a discussion (or more like started it) about using an actually efficient hash map. `unordered_map` is garbage, to put it simply.

[2020-06-02 22:01] mpetri commented on #403
The collection was ~400M docs in plaintext format, processed using 60 threads. The rough times for the different steps are:

[code]

[2020-06-02 22:08] elshize commented on #403
Okay, that's helpful, thanks. We definitely have to improve on the later stages.

[2020-06-02 22:09] mpetri commented on #403
I would like to work on this but parallelizing these things in c++ is quite a bit more awkward than in languages like rust.

[2020-06-02 22:12] mpetri commented on #403
The main issue was that the whole process was neither CPU or IO bound. There was plenty of I/O capacity and for most parts the CPU was also barely used. That's why I opened this issue.

[2020-06-02 23:00] mpetri commented on #403
As a side question. Would it be faster/better to do lucene -> CIFF -> pisa?

[2020-06-02 23:38] elshize commented on #403
It's actually not as bad with TBB, you can either do parallel loops, thread pools, etc. There are some examples throughout the codebase.

Running merging part in one thread will cause that for sure: only one thread is doing the work and waits a lot for I/O. We could think of doing it asynchronously, or just simply pass the computed data to a writer thread. But I think there's more we can do.

I do

[2020-06-02 23:53] JMMackenzie commented on #403
Oops, scrubbing what I had here as I had done "Pisa to CIFF" and not the other way. I am sure I had timings somewhere but I can't find them right now.

Looking at Anserini/Lucene (this paper from Jimmy Lin: https://arxiv.org/pdf/1910.11028.pdf) it seems like Lucene can handle ClueWeb12B in around 2 hours (with full positions and collection storage) - it's probably under an hour for a regular index

[2020-06-03 00:01] JMMackenzie commented on #403
Jimmy Lin has kindly managed to dig up some information from his personal Mac Pro (SSD):
[code]
So that's the time taken to export Lucene to CIFF (it runs single threaded).

[2020-06-03 00:04] lintool commented on #403
Unless there are scientifically interesting questions you want to explore, I would advocate just giving up on indexing and letting Anserini/Lucene do it for you via CIFF. Why waste engineering cycles on this?

My entire argument in https://arxiv.org/pdf/1910.11028.pdf is that we've pushed indexing to basically its limits with current in-memory inversion/flush to disk/merge approach. Unless we dram

[2020-06-03 00:25] elshize commented on #403
Yep, I think this might be the best approach.

[2020-06-03 00:33] lintool commented on #403
Also, we're one issue away from the entire indexing pipeline in Anserini from being pip installable: https://github.com/castorini/pyserini/issues/77

Something like:

[code]

Bam!

If you want, we can move the CIFF exporter into pyserini as well, and everything will be pip-able. You can script it easily from your end as well.

[2020-06-03 00:42] elshize commented on #403
That would be definitely nice to be able to easily index and export it from python like that. We could then include it as an option in our documentation.

[2020-06-03 01:04] mpetri commented on #403
I'm mostly looking for easy of use and speed. I will try pyserini -> ciff -> pisa and report some statistics when I'm done.

Maybe the docs should reflect that there are other options to create an index.

[2020-06-03 01:07] elshize commented on #403
Yes, we should mention CIFF in the docs.

[2020-06-03 17:30] #402 closed, assigned to nobody

[2020-06-03 23:25] JMMackenzie commented on #403
Just to follow up briefly, I ran a few quick-n-dirty Gov2 experiments.

Indexing Gov2 via Anserini takes ~20 mins with 30 threads.
Taking this Lucene index to CIFF takes about ~45-60 mins.
Taking CIFF to PISA canonical takes ~15 mins.

End-to-end raw corpus to files that PISA can deal with (but not yet query over) is ~2 hours max. This is also on a loaded machine, so it's probably ultimately faste

[2020-06-04 00:44] elshize commented on #403
@JMMackenzie thanks for taking the time to check that out. Sounds like it's altogether faster than with PISA alone. One side note is that you won't end up with a full forward index, just the inverted index and term and document lexicons, but that might not be important in majority of cases.

[2020-06-04 19:29] gustingonzalez opened #407 "Improve block codecs"
Hi everyone! I bring up for discussion some possible improvements that could be introduced in the `block codecs`.

### Interpolative
Starting here:
https://github.com/pisa-engine/pisa/blob/35dd03b73506d2089686a4a211e38898671b425c/include/pisa/codec/block_codecs.hpp#L151
Why not just use `in` instead of `inbuf`?

On the other hand, in the next line:
https://github.com/pisa-engine/pisa/blob/35dd03b7

[2020-06-04 20:04] gustingonzalez commented on #407
On another subtopic, after some quick tests I've also found that using thread_local adds a slight speed penalty, can it be? If so, is its use essential when decoding?

[2020-06-04 20:14] elshize commented on #407
I haven't looked into all of them yet, but a few points:
1. Since the block size is always 128, I'd replace `thread_local std::vector<uint8_t>` with `constexpr std::array<uint8_t, size>`, which will also require to do `static constexpr uint64_t block_size = 128;`.
2. I don't see the reason for `inbuf` either.
3. I totally agree about `numeric_limits`
4. I agree with removing the raw loop but we sh

[2020-06-08 12:08] elshize commented on #407
@amallia can you weigh in on these?

[2020-06-08 12:40] elshize commented on #379
We should hold off on that. GSL 3.0 introduces a crucial change: it forces bound checks. They cannot be disabled and they always fail quick without throwing.

In general, I would be happy to have that kind of logic. But at the moment, we rely on span random access being zero-cost. So I think we still should probably do it, but we need to be careful. That is, measure any speed changes wherever we u

[2020-06-08 17:34] elshize opened #410 "Document valid encoding values"
All available encoding values should be documented. There is somewhat incomplete documentation here: https://pisa.readthedocs.io/en/latest/compress_index.html (only mentions actual values of the parameter for some compression techniques).

I think we should do the following:
- complete the documentation by adding missing values,
- make them stand out more by maybe documenting them right below each

[2020-06-09 13:50] elshize opened #411 "Document tested CI instances"
We should update the documentation https://pisa.readthedocs.io/en/latest/getting_started.html to reflect the set of compilers we test against in our CI workflow.

[2020-06-10 03:41] JMMackenzie commented on #400
@amallia @elshize @mpetri

I am thinking about this at the moment. Do we want to try to use TBB to facilitate the multi threading, or should we try to follow the example from the BitFunnel experiments (they seem to roll their own thread synchronization so they avoid timing the overhead of spooling up threads prior to processing). I suspect we can make a simple one-function addition to the `queries

[2020-06-10 13:10] elshize commented on #400
@JMMackenzie When you're talking about overhead, do you mean the overhead of setting up thread pool and such, or also overhead of starting each thread?

If I understand correctly, the goal is this: given a set of queries and a number of threads, run the queries in the specified order and report the query throughput. Is this correct?

If this is the case, we could spin up a number of workers that w

[2020-06-10 23:35] JMMackenzie commented on #400
Right, I mean starting each thread.

I agree, this is the goal.

Okay, I agree and I am in favor of your suggested approach. I think we have capacity to do this via TBB right?

[2020-06-11 00:34] elshize commented on #400
Yes, I believe TBB should do just fine. There are two concurrent queues: one unbounded and one bounded. Since currently all queries are loaded to memory at the beginning anyway, we don't need to bound the queue.

[2020-06-11 02:05] mpetri commented on #403
I just wanted to confirm lucene -> ciff -> pisa is much faster than the `parse_collection` tool provided by pisa.

I think this issue can be closed but maybe lucene+ciff should be the default way of creating a pisa index?

[2020-06-11 02:15] JMMackenzie commented on #403
Thanks Matthias, I guess we should at least document the tooling so users have a choice, including how to get queries formatted via Anserini (etc).

[2020-06-11 02:16] elshize commented on #403
Thanks for confirmation. Let's keep it open for now. We definitely want to improve some things around parsing, especially since some of them shouldn't be too hard. The CIFF route is good to have but having native parsing capabilities has its own advantages, so we definitely want to see what can be improved.

That said, I don't think CIFF is mentioned anywhere in the docs, so we should definitely m

[2020-06-20 00:07] elshize opened #415 "Heap condition slows down queries on quantized index"
Because `would_enter` method of the top-k heap checks if the score is **greater or equal**, it means that sometimes a document will be entered into the heap just to be removed. This rarely happens when scores are decimals, but it's much more frequent when the scores are quantized. It especially affects VBMW algorithm, and can slow it down in some cases such that a query on the quantized index is s

[2020-06-20 00:58] JMMackenzie commented on #415
Agreed, this logic should only accept documents that exceed the threshold. This means the first `k` documents that have the tied score would enter and the rest would not.

[2020-06-22 12:15] #367 closed, assigned to nobody

[2020-06-23 12:45] amallia opened #418 "Progress bar produces long outputs"
Related to #417

The progress bar causes a problem if run a long process as it produces one line per second.

The usual solution to that is to detect whether we're speaking to the TTY or a file. Here's an example for POSIX systems (we'd have to replace stdin with stdout):

https://stackoverflow.com/a/7601564

We should define somewhere a is_tty function that will implement this for all platforms,

[2020-06-23 13:52] elshize opened #419 "Temporary_Directory is not in pisa namespace"
We should define it in `pisa` namespace, and while we're at it, remove the underscore from the name.

[2020-06-25 04:39] JMMackenzie opened #421 "Single threaded execution requires"0" threads"
This was introduced via #387 - The problem is that the documentation for TBB states that passing a parameter `n` to `max_allowed_parallelism` will result in `n-1` worker threads operating: https://software.intel.com/en-us/node/589744

However, the rules state that passing `n = 1` will result in serial processing. Our logic automatically increments the thread count by `1`, meaning that serial proce

[2020-06-25 04:39] JMMackenzie commented on #421
@elshize and @amallia

[2020-06-25 04:42] JMMackenzie commented on #415
@elshize are we comfortable just modifying the heap logic such that:

`bool would_enter(float score) const { return score > m_threshold; }`

In lieu of: https://github.com/pisa-engine/pisa/blob/master/include/pisa/topk_queue.hpp#L47

[2020-06-25 12:55] elshize commented on #421
So just to clarify: in TBB, passing 1 makes it run sequentially, while passing 2 makes it run concurrently but with 1 worker, therefore kind of sequentially, too. Do I understand this right?

If so, then yeah, I would say if 1 then leave 1, and if > 1, then increase by 1. We should extract this logic to a function to have it only in one place. Maybe we can add another method to `args::Threads` cal

[2020-06-25 13:45] elshize commented on #415
Yes, imo that's the correct logic here.

But when talking about the correctness of the entire library, it's not as easy. I thought about it, and it seems that we use two different definitions of _threshold_ throughout the code.
1. Threshold as a score that has to be exceeded to enter the queue.
2. Threshold as the score of the k-th document.

Note that (1) is not just a matter of `would_enter` con

[2020-06-25 18:48] elshize opened #422 "BP misteriously failing with multiple threads (rarely)"
I have found a case in which `reorder-docids --bp` fails when run with more than 1 thread. I haven't been able to figure it out, and I don't have the time to do it right now, so I attach the input data on which it fails (it's one Clueweb09B shard) to be able to reproduce it later.

I tried running with sanitizers and debugging with `gdb` but if I set it to catch any exception, `gdb` itself crashes

[2020-06-26 00:12] JMMackenzie commented on #421
See, this is the confusing part. i believe that is correct, but I am not sure why they would allow `n = 2` to run the same as `n = 1` -- it's kinda unclear from the docs...

[2020-06-26 00:21] elshize commented on #421
It might not be the same. It could be that `n = 2` just runs with 1 worker, while `n = 1` runs a fully sequential implementation (special case) without spawning any additional threads. This kind of makes sense conceptually. `n = 2` in fact would use 2 threads, but only one of them is the worker (so same as `n > 2`). It just makes no sense to actually run anything with `n = 2` is all (although spaw

[2020-06-26 00:50] JMMackenzie commented on #422
I had a quick look on a Ubuntu box with about 512GiB of RAM, ran with 32 threads.

I noticed the memory usage peaked at around 30% (>  150 GiB) but the program ran successfully.

1. Are you sure you have sufficient memory to process this shard? It has a relatively large vocab. What if you tried `-m 256` or `-m 1024` or something like that? You could also limit the thread count to reduce memory con

[2020-06-26 01:09] elshize commented on #422
Thanks for checking, I'll check (1) and (2) soon.

[2020-06-26 01:29] JMMackenzie commented on #415
I agree with your proposal and the general precision required in getting these checks and bounds "correct" -- I think (1) is what we want to use, agreed.

As for QL: The document length normalization component is negative, but the other part is positive. I believe we use a model like Lucene: https://lucene.apache.org/core/4_7_1/core/org/apache/lucene/search/similarities/LMDirichletSimilarity.html

[2020-06-26 02:20] elshize commented on #415
Got it. So it seems like all our scorers are positive. In fact, it seems like in the current state they have to because of how we sum up scores (negative scores would require scoring all terms for each document, including those with frequency 0). So we can just implement it as:
[code]

[2020-06-26 03:18] JMMackenzie commented on #415
Yes, I agree with this solution. So we reduce thresholds by an epsilon, and we modify to `>` instead of `>=` for the `would_enter` call. Is that all that's required?

[2020-06-26 12:18] elshize commented on #415
I believe so. It should be verified, though, once implemented. By that, I mean we should verify the performance, but also we should have some kind of integration test to see if our generated thresholds work well with query processing.

[2020-06-27 13:07] elshize commented on #422
Ok, so I was able to verify that in fact that shard happens to have significantly more terms in it, about 8x the number of the previous shard for example, and uses about as much more memory, too. So I was definitely running out of memory. It's still weird to me that I didn't just get a bad alloc instead of blowing up, but no matter.

BTW, setting `-m 1024` didn't significantly change my memory con

[2020-06-27 13:07] #422 closed, assigned to nobody

[2020-07-07 22:16] JMMackenzie opened #423 "BP Reordering using large amounts of memory"
- BP seems to be using much more memory (up to 4x more from my calculations) than it did before, and can even end up crashing if the depth is too deep or if the collection is large.

- My working hypothesis is that the introduction of the `thread_local` storage (see https://github.com/pisa-engine/pisa/commit/2c459738fc23393c5f5009dc5b71e4b57d4f058d#diff-51da00fc61477e7d898e77928ab18333) is causing

[2020-07-13 02:00] JMMackenzie commented on #423
A quick update - The BP process seems to be much slower than what we reported in the ECIR paper now. I think we have introduced some issues along the line. Matthias is currently exploring this further and will provide an update soon.-

[2020-07-13 09:16] amallia commented on #423
I think you are right. It was probably introduced in https://github.com/pisa-engine/pisa/pull/378. Either we fix it quickly or it is probably safer to revert the PR since BP is quite an important piece.

[2020-07-13 13:38] elshize commented on #423
@JMMackenzie isn't the point of the thread local storage is that it should keep the memory from the top layers. But it should reuse it instead of allocating more. I looked at the code and I have no idea where the problem would be. Any idea what part you think is being copied?

The thread local object is created once at the beginning of the algorithm and then passed as references. The only place I

[2020-07-13 14:26] elshize commented on #423
Actually, I found a bug that probably causes it. The created object wasn't actually passed down the tree but rather was created over and over again. Check #424

[2020-07-14 11:40] #423 closed, assigned to elshize, JMMackenzie, amallia

[2020-08-04 18:12] elshize opened #425 "Inaccurate threshold estimation"
The `kth_threshold` tool returns inaccurate estimates due to the fact that the top-k heap is not cleared between calculations within one query, e.g., here: https://github.com/pisa-engine/pisa/blob/master/tools/kth_threshold.cpp#L122

[2020-08-13 04:04] JMMackenzie commented on #415
Just taking a look again now. Do we want to include the "minus epsilon" component during threshold creation (with the tool) or when we read thresholds into the querying programs?

[2020-08-13 10:40] amallia commented on #415
I would say when we read the thresholds into the querying programs...

[2020-08-13 22:46] elshize commented on #415
If we have the condition as `>`, then I think it should be when we compute the thresholds. The reason is to have only one definition of threshold and stick to it. It's important that the threshold-computing tools produce thresholds, and not something close to what thresholds are that need to be magically fixed. I'd like to avoid a situation in which a threshold is something in CLI for `queries` bu

[2020-08-20 12:58] #425 closed, assigned to nobody

[2020-09-18 19:43] elshize opened #431 "Document gumbo build dependencies"
Gumbo parser relies on autotools to build it, yet we don't mention it [in the docs](https://pisa.readthedocs.io/en/latest/getting_started.html#building-the-code).

Here's an example of what is needed on Ubuntu 18.04:
[code]

[2020-09-18 20:05] asif6827 opened #432 "Unable to compile PISA code"
I am unable to compile the PISA code.

I get the following error:

[code]

[2020-09-18 20:07] elshize commented on #432
@amallia @JMMackenzie is this because of no simd support on the machine?

[2020-09-18 20:09] amallia commented on #432
Yes SSE4.1 is required.
What processor is that? Pentium4?

On Fri, 18 Sep 2020 at 22:07, Michał Siedlaczek <notifications@github.com>
wrote:

Sent from Gmail Mobile

[2020-09-18 20:11] asif6827 commented on #432
asif@asif-Studio-1535:~$ cat /proc/cpuinfo
processor	: 0
vendor_id	: GenuineIntel
cpu family	: 6
model		: 15
model name	: Intel(R) Core(TM)2 Duo CPU     T7250  @ 2.00GHz
stepping	: 13
microcode	: 0xa4
cpu MHz		: 1432.249
cache size	: 2048 KB
physical id	: 0
siblings	: 2
core id		: 0
cpu cores	: 2
apicid		: 0
initial apicid	: 0
fpu		: yes
fpu_exception	: yes
cpuid level	: 10
wp		: yes
flags		: fpu

[2020-09-18 20:20] elshize opened #433 "Optional dependencies"
## Overview

Optional compilation of dependencies allows for faster compilation (in cases the dependencies are not necessary) and possibly working around dependent libraries not compiling on a target.

## Details

Some libraries we depend on don't have to impact working of the entire system. The chief example here is all the encoding methods we have for index compression. Say, you're working on a

[2020-09-18 20:25] elshize commented on #432
#433 for reference

[2020-09-18 20:57] amallia commented on #432
Yes, your cpu supports up to sse3...

On Fri, 18 Sep 2020 at 22:12, asif6827 <notifications@github.com> wrote:

Sent from Gmail Mobile

[2020-09-24 17:36] elshize opened #435 "Replace topk_queue's entry type"
As discussed here:
https://github.com/pisa-engine/pisa/pull/429#discussion_r486323978
we should replace `uint64_t` in the entry type with a custom-defined alias `using DocId = std::uint32_t`. See comments for more info.

[2020-09-29 16:46] elshize opened #440 "Set max column width for --help messages in tools"
Right now, it seems, if an option's help text is long, it will just go on, and wrap with the end of the terminal, and start from the far left in the next line.

I was wondering if it wouldn't be better to set some minimum column width, then wrapping would be done by CLI11 and look a bit better. I think there's a big value in having these options properly documented. The CLI11 docs mention somethin

[2020-10-03 13:55] amallia opened #441 "Document AOL query log format"
As mentioned in https://github.com/pisa-engine/pisa/pull/296

[2020-10-07 11:19] elshize opened #442 "Change WAND data to Metadata"
WAND is confusing because it suggests that it is specific to WAND algorithm but it's necessary for any scored algorithm.

[2020-10-29 22:28] elshize opened #444 "Bit vector does shady stuff"
The following function has issues:
https://github.com/pisa-engine/pisa/blob/c6481af140224070aaa5d7ec109bbde396268b8c/include/pisa/bit_vector.hpp#L285

1. We cast an arbitrary byte pointer to int, making it UB.
2. We assume the bit vector has enough bytes to actually dereference.

I tried replacing this with `std::memcpy`, and once I did, the address sanitizer catches access after buffer. What fixe

[2020-10-31 01:46] elshize opened #445 "Build fails with Clang 10 and libstdc++-10"
When building with Clang 10 and libstdc++-10 (GNU std library), there's some problems connected to PSTL and GNU implementations of parallel algorithms. To pass tests, I remove the newer standard library when building with clang-10 here: https://github.com/pisa-engine/pisa/pull/443

[2020-11-20 17:59] amallia opened #446 "Reorder by URL"
For some weird reason reordering by URL does not work when using https://github.com/pisa-engine/pisa/blob/master/tools/reorder_docids.cpp

It does work if we use this external script instead: https://github.com/pisa-engine/pisa/blob/master/script/generate_sorted_docids_mapping.py

[2020-12-09 08:41] justmao945 opened #447 "About online index updating"
Dear my friends,
First thank you all for the great project !
This search engine is the most fancy I've found on Github !
In our case, we will have streaming data which should be updated to the exist index during queries, but I can't find any description of this feature in the doc.
So is there any plan to support this feature ?

[2021-01-04 05:14] JMMackenzie commented on #447
Hi there,

Unfortunately, we do not currently support online index updates, but this is something that we may be willing to support in the future. Depending on the size of the index and the frequency of the updates, there are various approaches which may be best. Perhaps you could list some more details, and we might be able to determine if anything is likely to be worked on in the future. Of cour

[2021-01-04 13:20] elshize commented on #447
I haven't really given a thought to this feature, and I don't really know what approach would be best. But I'm thinking what would be the **easiest** way to support that, and here are some thoughts:

As you may know from the [documentation](https://pisa.readthedocs.io/en/latest/), PISA has a rather unique indexing pipeline, with indexing separated into separate stages: parsing, inverting, and comp

[2021-01-29 15:12] elshize opened #448 "Catch NoSuchFile by const reference"
Here:
[code]

[2021-01-29 15:14] elshize opened #449 "Fix CI"
Some changes seem to have been made in the Github Actions, and our tests now fail. I don't really have any more info about it, just posting it here so that it's known and not forgotten.

[2021-02-09 14:44] #449 closed, assigned to nobody

[2021-04-15 11:55] wanghenshui commented on #227
https://stackoverflow.com/questions/1867065/how-to-suppress-gcc-warnings-from-library-headers
[code]

[2021-05-02 13:40] elshize opened #458 "Compilation issues on libstdc++10"
It seems like there are some issues regarding PSTL when compiling against libstdc++10.

I'm not entirely sure what the problem is. It might be related to the fact that this version of the library has its own parallel algorithms implementation, but not sure. In general, PSTL has been moved to the LLVM project, so I'm not sure what we want to do with that in the long run.

I don't have any more info

[2021-05-24 23:32] JMMackenzie opened #459 "Library Builds"
As discussed on PyPISA, we need to alter some compilation details for correctly linking. See: https://github.com/pisa-engine/pypisa/issues/1

However, we need to decide whether we'll include these all the time, or whether we want to have two different compilation processes (one for lib builds, for use in PyPISA for example, and one for binaries?)

Any thoughts on this? We might need to double chec

[2021-05-24 23:36] elshize commented on #459
I think we could just use it all the time, but to be on the safe side, we can add an option that defaults to whatever we have now and adds the flag if present. If we at some point decide that fPIC is fine by default, we can remove the option.

[2021-05-24 23:49] JMMackenzie commented on #459
I've just added a sample PR but feel free to go and edit it -- this is what I imagine we'd want, but perhaps there's a cleaner way?

[2021-05-26 18:49] elshize opened #462 "Containers for CI?"
Here's an idea: what if we compile & run tests in a docker container instead of directly on the actions image?

We've had problems when the image changes on us, things fail, there's a bunch of preinstalled software that can affect us, it's becoming not reproducible. But can't we just use a docker image, say one for gcc or clang, and just roll with that?

Is there any reason not to do it?

[2021-05-26 18:49] elshize commented on #462
@JMMackenzie

[2021-05-31 23:37] #459 closed, assigned to elshize, JMMackenzie, amallia

[2021-06-07 02:15] yf-hk opened #464 "Non-English tokenizers"
**Describe the solution you'd like**
For CJK languages, like for example Chinese, words are not separated by spaces. So there usually has a need to use a tokenizer to split sentences into word stems. Like this one: https://github.com/yanyiwu/cppjieba
Is it currently doable in Pisa? If not, is there any plan to add this feature in the future?

**Additional context**

[2021-06-07 07:36] amallia commented on #464
Yes, it is doable. If you want to see this implemented you can send a PR and we will review it.
Thanks

[2021-07-21 08:07] troycheng commented on #447
Hi, Is there any progress? I just find this awesome project and looking for some info about this feature

[2021-07-21 22:53] elshize commented on #447
Unfortunately, I haven't been able to look into that. I just graduated and started a new job, plus have been busy in personal life. Currently, I cannot tell when I'd have time to look into that, but if someone else took the lead on it, I'd be probably able to help with review and discussion.

[2021-08-30 00:18] #397 closed, assigned to elshize, amallia

[2021-08-30 00:21] JMMackenzie commented on #55
Can possibly be closed now, see #468 and #397

[2021-08-30 23:54] JMMackenzie commented on #399
This is evidently a major issue with PISA currently. It's difficult for newbies to get going with it.

I think what would be super useful is to follow the Anserini "Reproducibility" path of providing end-to-end markdown files showing the process. See, for example: https://github.com/castorini/anserini/blob/master/docs/experiments-msmarco-passage.md

[2022-01-30 15:25] #458 closed, assigned to nobody

[2022-01-30 15:25] #462 closed, assigned to nobody

[2022-01-31 00:29] JMMackenzie opened #474 "Refactor query term weights"
Currently, term weighting is handled within the `Cursors` classes. In particular, the `ScoredCursor` class stores the query term weight (the weight assigned to a term at query time, usually set to 1.0 but can be set on a per-term basis by the 'user') and this weight can be pulled out of the cursor with the `query_weight()` function.

Each of the cursors handles this weighting behind the scenes; in

[2022-02-27 16:50] elshize opened #475 "Schema files to organize files"
Below is a rough draft of a schema/config/meta file (idk what name fits best here) to organize the files together.

The primary goal is to have sane defaults such that if one uses PISA to parse, invert, compress, query, etc., they don't need to provide all that information that currenlty is required at command line, but rather just point at the meta file that has all the info.

This is just a draf

[2022-02-27 18:20] #445 closed, assigned to nobody

[2022-02-27 18:22] elshize commented on #432
Closing this in favor of the optional dependencies issue linked above.

[2022-02-27 18:22] #432 closed, assigned to nobody

[2022-02-27 21:15] #448 closed, assigned to nobody

[2022-02-27 21:21] elshize commented on #464
Unfortunately, none of us regular contributors have much knowledge of these
languages, so we'll need someone with more knowledge step up to be able to
properly implement and test it.

If someone would want to help out with that, we can definitely provide some
help related to how parsing and tokenizing works within PISA.

[2022-02-27 22:16] elshize commented on #446
If you remember, can you clarify "does not work"? The only difference between these two I can see is that the python script lowercases the values. Could that be the discrepancy?

[2022-02-27 22:24] #379 closed, assigned to nobody

[2022-03-13 13:12] #435 closed, assigned to nobody

[2022-03-14 00:51] #415 closed, assigned to nobody

[2022-04-03 22:37] JMMackenzie commented on #444
The bitvector cleanup PR reminded me of this. I guess perhaps @ot could chime in if he has a minute, I think he probably wrote this piece of code in the first place and knows when/when not to use it.

[2022-04-04 00:11] elshize commented on #444
I think the most troubling thing is that the address sanitizer actually found problems when replaced with `memcpy`. Not sure why it's not catching it with the cast, but it being UB, all bets are off, possibly including the sanitizer behavior.

Getting more insight into what was the intention and what the function unsafety was supposed to mean would give help us a lot. Otherwise, it might be quite

[2022-04-04 01:21] elshize commented on #444
@JMMackenzie I did a very quick test, I added this assert:

[code]

And it fails. So if I understand this right, there's not enough bytes to read in the buffer. So even disregarding misalignment UB, this is another problem.

In fact, even this fails:

[code]

Meaning, here we have `pos / 8 >= (m_bits.size() * 8) - 2`, which means that the starting byte is within 2 bytes of the end of the buffer. S

[2022-04-04 01:46] JMMackenzie commented on #444
`m_bits` is a `uint64_t *`

So: `assert(pos / 8 < (m_bits.size() * 8) - 7);` is saying: "Find the byte corresponding to `pos` and make sure it is at least 7 bytes before the end of `m_bits`" right?

If so then I agree.

Maybe the "trick" here is that even though it knows it will run over the end of the buffer, it will still access the correct portion of the data via the ` >> (pos % 8);` part? I'm

[2022-04-04 11:12] elshize commented on #444
I believe so.

`pos % 8` will only shift 7 bits at most, so I don't think that's it.

It's not that surprising that reading after buffer doesn't blow up. It will read garbage, though, in this corner case.

We might not even see read past buffer happen in real use case, because we'd need to read at the very end, and it might only happen in tests because our test index is small enough. But I don't k

[2022-04-04 22:24] JMMackenzie commented on #444
Yeah this is what I was getting at. But agreed in general, it looks scary. It isn't called in many places, mostly just the bitvector and elias_fano stuff. Perhaps like you said we never actually hit the unsafe case in practice, but I am in favour of fixing. We might just want to do some benchmarking as well to see how much of a hit we take doing things safely.

[2022-04-04 22:30] mpetri commented on #444
I was under the impression that the constructor 0s out padding at the end like this:

[code]

[2022-04-04 23:05] elshize commented on #444
@mpetri right, but it seems like regardless of that, we have a situation in which we call a function that is supposed to return at least 56 bits, but there are only 2 bytes left in the buffer from that position. So something is not right there.

If we read _beyond the buffer_ no amount of padding will help us, because we have no guarantee what that memory we just read is. In fact, it's undefined b

[2022-04-04 23:26] ot commented on #444
A few points

- The comment is a bit misleading, it should read "retrieves at least 56 bits, **limited to the available bits in the bitvector**". What this function does is, if you assume that the bitvector has at least `k` bits following `pos`, and `k <= 56`, then the returned word will contain those `k` bits, and maybe garbage after them. Of course it cannot return more bits than there are in th

[2022-04-04 23:51] elshize commented on #444
@ot Thanks a lot for your comments, the explanation really helps, we'll make sure to document it.

Just to clarify: in the encoding algorithms where this is used, when the garbage bytes are read, it won't affect the algorithm, right? Meaning, the algorithm that calls `get_word56()` one way or another knows not to read beyond the meaningful bits and discards the trailing garbage?

Would it be possi

[2022-04-04 23:57] elshize commented on #444
Somewhat anticlimactically, it seems to be implemented with `__builtin_bit_cast` by both gcc and clang. Which means we can at least implement it with the builtin whenever it's available... it should be as fast as it gets, right?

I think the builtins should be available depending on compiler version and not C++ version (I think?), so we might be able to use them without c++20.

[2022-06-05 22:49] JMMackenzie opened #483 "Disk-streamed indexing can result in non-deterministic indexes if there is insufficient /tmp storage"
**Describe the bug**
As the title suggests; I had some issues with segfaults upon mmapping an index. It turned out that the index was being built (but incorrectly) because there was insufficient storage space on `/tmp`. No errors were thrown though.

Running the indexing command with the `--check` flag threw an error (demonstrating that the index built was wrong).

I will look into this in more de

[2022-08-10 10:23] cadurosar commented on #483
+1, just had the same error for a while, thanks @JMMackenzie for pointing this out. Going for a machine with more /tmp space solved the problem but without that I would have no idea that was the problem.

[2022-08-10 23:08] JMMackenzie commented on #483
@elshize I think we'd need to run a check somewhere here: https://github.com/pisa-engine/pisa/blob/196a6e6e0b2312fad5befa58e613be4485294aa6/include/pisa/block_freq_index.hpp#L154

I can never remember the correct way to do it, but I think we need to flush and then check for `.bad()` or something like that?

[2022-08-11 00:24] elshize commented on #483
@JMMackenzie yeah, something like this. Didn't have time to have a look today. I'll have to refresh my memory. There are many places like this where we should do those kind of checks tbh. We weren't very good about this. In our defense, this is way more complicated to do than it should be in C++. But it is what it is, we need to address that.

[2022-09-08 22:15] elshize commented on #483
@JMMackenzie I think this should be actually resolved, because the issue is about the disk-streamed indexing, which was addressed in #484

There are more places where checks should be done, but I don't see much sense in tracking all of them here. Let's close, and we'll open specific ones (or one tracking issue) instead.

[2022-09-08 22:15] #483 closed, assigned to elshize

[2022-09-10 13:16] elshize opened #486 "Replace inheritance from std::iterator"
`std::iterator` was deprecated in C++17. It should be replaced by explicitly defining iterator traits. More details here: https://www.fluentcpp.com/2018/05/08/std-iterator-deprecated/https://www.fluentcpp.com/2018/05/08/std-iterator-deprecated/

I noticed it when my compiler started throwing warnings at me around the binary collection code; but there might be more instances, we should double-check

[2022-11-09 22:25] #486 closed, assigned to elshize

[2022-11-14 11:56] #474 closed, assigned to JMMackenzie

[2022-11-14 18:13] #419 closed, assigned to nobody

[2022-11-19 17:28] elshize commented on #440
It actually turns out this cannot be done simply -- the option that can be set is for the width of the left column only. Closing.

[2022-11-19 17:28] #440 closed, assigned to elshize

[2022-11-19 17:29] elshize commented on #431
Already documented, closing.

[2022-11-19 17:29] #431 closed, assigned to nobody

[2022-11-19 23:55] #411 closed, assigned to nobody

[2022-11-20 02:16] elshize commented on #407
@gustingonzalez I can think of two ways it could affect performance. (1) because we are using dynamic memory, it is possible that it is implemented by the compiler as a lazy initialization, which would add a check each time. (2) even if not dynamic, thread local array would be still somewhere farther from the top of the execution stack, which may affect caching. On both accounts, it's hard to say

[2022-11-20 16:16] kolinfluence opened #493 "support faceted search"
is faceted search currently available?
otherwise will faceted search be part of the dev roadmap?

[2022-11-20 20:08] elshize commented on #407
I performed some experiments on CW12B. I used CIFF query-only index, exported to PISA, then ran BMW with and without the changes in the related PR. I used Web Track queries from 12-14. For both baseline (`master`) and the changed version (`improve-block-codecs`) I ran all queries 20 times, and recorded the results. I only ran Simple16 at this time, but the changes I made for Simple8b are almost id

[2022-11-21 05:51] JMMackenzie opened #494 "BERT tokens"
**Describe the solution you'd like**
Currently, PISA does not readily support BERT wordpiece tokens `exam ##pl` because of the `##` being eaten by the tokenizer.

We should have support for a command line flag like `--pretokenized` (similar to Anserini) to tell the tokenizer to simply consume whitespaces and do no more.

# Checklist

- [x] Implement whitespace tokenizer (#496)
- [x] Allow for choo

[2022-11-25 00:54] elshize commented on #494
@JMMackenzie Do you by any chance have some Anserini docs on how this is implemented? I'm not that familiar with bert, I'd love to understand it a bit more.

[2022-11-25 01:04] elshize commented on #493
There is no support for that, at least not out of the box. You can certainly build multiple indices and then write some code to organize it into a single faceted system. But then there's no mechanism to, say, parse a complex query using multiple indices, or anything like that.

This is not a very technically difficult thing to implement in PISA, but the way everything is currently designed, it nee

[2022-11-25 01:07] elshize opened #495 "Control log level"
We should add a CLI argument to control the log level. For example, `queries` shows a lot of warnings about missing terms. While this may be good, safe default, I found this super annoying when scripting lots of executions. For cases like that, I'd like to set it to ERROR, so we only get errors. The only current way to silence it is by silencing all of the logs, but then errors won't show, which m

[2022-11-25 06:19] JMMackenzie commented on #494
If you check this commit, you will see the basically just instantiate a "whitespace analyzer" which does what it says on the tin: https://github.com/castorini/anserini/commit/14b315d23e461734b6e36409bfa1745be5ba4de2

This boils down to something like this: https://lucene.apache.org/core/8_8_0/analyzers-common/org/apache/lucene/analysis/core/WhitespaceTokenizer.html

[code]

I think for our intents

[2022-11-25 06:23] JMMackenzie commented on #494
Basically this enhancement is for cases where we are ingesting a learned sparse index from either jsonl or another IR toolkit like Anserini/Terrier (perhaps via CIFF) which has a vocabulary which looks like:
[code]

And then at query time we might see `101: fish ##ing locations` or something like that. This example is just made up but should explain what we need.

I think currently PISA would turn

[2022-11-25 14:27] elshize commented on #494
Ah, ok, so this would be an alternative parsing, correct? When `--pretokenized` is passed, we break on spaces, otherwise, business as usual?

As for the lexicon, I don't see why it wouldn't work either. There's really nothing special about "special" characters like #. It's all just bytes.

If you have access to, or can get your hands on, a CIFF built this way (preferably not to large), it would be

[2022-11-28 01:21] JMMackenzie commented on #494
Sure, I can generate a CIFF file if that would help!

[2022-11-28 01:40] #495 closed, assigned to elshize

[2022-11-28 01:45] elshize opened #498 "Convert vector buffer to array (maybe)"
`interpolative_block` codec uses a `thread_local` vector buffer. If we can figure out the upper bound on the length of this buffer, we could use `std::array` that is likely to improve performance.

[2022-11-28 23:11] #407 closed, assigned to elshize